{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="es" class="aurel_header_gradient_page aurel_content_under_header aurel_non_transparent_header">
<head>
	<title>{%block title%}{{ G.ORGANIZATION.TITLE }}{%endblock title%}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
	<!-- CSS Files -->
	<link rel="stylesheet" href="{%static HTMLPage.static%}css/kube.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{%static HTMLPage.static%}css/theme.css">
	<link rel="stylesheet" href="{%static HTMLPage.static%}css/owl.carousel.css">
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-70926907-6', 'auto');
		ga('send', 'pageview');
	</script>
	<style>
		body input#coupon_code, body input[type="text"], body input[type="password"], body input[type="email"], body input[type="tel"], body input[type="date"], body input[type="time"], body input[type="datetime"], body input[type="url"], body textarea, body select, body select:focus, body textarea:focus, body .aurel_content_wrapper .widget_product_search input[type="search"].search-field {
			font-family: "Roboto", sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: #ffffff;
			border: solid 2px #ffffff;
		}
	</style>
</head>
<body class="aurel_drag_protection">
	<div class="aurel_site_wrapper static_header_footer fadeOnLoad">
		<!-- Header -->
		<header class="aurel_main_header aurel_logo_left aurel_border_off aurel_header_gradient_style aurel_sticky_menu_on">
			<div class="aurel_main_header_wrapper">
				<div class="aurel_header_left_part aurel_header_logo_part">
					<div class="aurel_logo_cont">
						<a class="aurel_image_logo aurel_dp aurel_no_select aurel_retina" href="/"></a>
					</div>
				</div>
				<div class="aurel_header_middle_part aurel_header_menu_part">
					<nav class="aurel_nav">
						<ul class="aurel_menu">
							<li class="menu-item-has-children">
								<a href="javascript:void(0)">INICIO</a>
							</li>
							<li class="menu-item-has-children">
								<a href="javascript:void(0)">EXPLORA</a>
								<ul class="sub-menu">
									<li><a href="/">Animales</a></li>
									<li><a href="/">Arquitectura</a></li>
									<li><a href="/">Belleza</a></li>
									<li><a href="/">Ciencia</a></li>
									<li><a href="/">Comida</a></li>
									<li><a href="/">Tecnología</a></li>
									<li><a href="/">Deportes</a></li>
									<li><a href="/">Industria</a></li>
									<li><a href="/">Lugares</a></li>
									<li><a href="/">Musica</a></li>
									<li><a href="/">Naturaleza</a></li>
									<li><a href="/">Negocios</a></li>
									<li><a href="/">Salud</a></li>
									<li><a href="/">Viajes</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="javascript:void(0)">PRECIOS</a>
							</li>
							<li class="menu-item-has-children">
								<a href="{%url 'mirari:login__Organization__TemplateView'%}">MI CUENTA</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="aurel_header_right_part aurel_header_socials_part">
					<div class="aurel_header_socials">
						<a class="aurel_toogle_fullview" href="javascript:void(0)">
							<span class="aurel_fullview_block01"></span>
							<span class="aurel_fullview_block02"></span>
							<span class="aurel_fullview_block03"></span>
							<span class="aurel_fullview_block04"></span>
						</a>
					</div>
				</div>
				<!-- Logo Mobile -->
				<div class="aurel_header_mobile_logo">
					<div class="aurel_logo_cont">
						<a href="/" class="aurel_image_logo aurel_dp aurel_no_select aurel_retina"></a>
					</div>
				</div>
				<a class="aurel_header_mobile_menu_toggler" href="javascript:void(0)">
					<span class="aurel_mmt_icon">
						<span class="aurel_mmt_line01"></span>
						<span class="aurel_mmt_line02"></span>
						<span class="aurel_mmt_line03"></span>
					</span>
				</a>
			</div>
			<!-- Mobile Menu -->
			<div class="aurel_mobile_menu_wrapper">
				<div class="aurel_header_socials">
					<a class="aurel_toogle_fullview" href="javascript:void(0)">
						<span class="aurel_fullview_block01"></span>
						<span class="aurel_fullview_block02"></span>
						<span class="aurel_fullview_block03"></span>
						<span class="aurel_fullview_block04"></span>
					</a>
				</div>
				<nav class="aurel_mobile_nav">
					<ul class="aurel_menu">
						<li class="menu-item-has-children">
							<a href="javascript:void(0)">INICIO</a>
						</li>
						<li class="menu-item-has-children">
							<a href="javascript:void(0)">EXPLORA</a>
							<ul class="sub-menu">
								<li><a href="/">Animales</a></li>
								<li><a href="/">Arquitectura</a></li>
								<li><a href="/">Belleza</a></li>
								<li><a href="/">Ciencia</a></li>
								<li><a href="/">Comida</a></li>
								<li><a href="/">Tecnología</a></li>
								<li><a href="/">Deportes</a></li>
								<li><a href="/">Industria</a></li>
								<li><a href="/">Lugares</a></li>
								<li><a href="/">Musica</a></li>
								<li><a href="/">Naturaleza</a></li>
								<li><a href="/">Negocios</a></li>
								<li><a href="/">Salud</a></li>
								<li><a href="/">Viajes</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="javascript:void(0)">PRECIOS</a>
						</li>
						<li class="menu-item-has-children">
							<a href="{%url 'mirari:login__Organization__TemplateView'%}">MI CUENTA</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<div class="aurel_main_wrapper aurel_top_padding_no aurel_bottom_padding_yes">
			<div class="aurel_container">
				<div class="aurel_content_wrapper row aurel_no_sidebar">
					<div class="aurel_content col col-12">
						<div class="aurel_tiny">
							<!-- Row -->
							<div class="row aurel_js_bg_image aurel_js_min_height aurel_bg_center_center aurel_bg_size_cover aurel_pf_fullwidth" data-src="{%static HTMLPage.static%}img/clipart/about_title_bg.jpg" data-min-height="750">
								<div class="col col-12 push-middle">
									<h1 class="aurel_page_heading">IMAGEBANKPHOTO</h1>
									<div class="row">
										<div class="col col-6 push-center aurel_md_width_80 aurel_sm_pl_20 aurel_sm_pr_20">
											<p class="aurel_text_align_center aurel_js_font_size aurel_js_color aurel_mb_35" data-font-size="18px" data-line-height="28px" data-color="#fff">
													<br class="aurel_sm_disable">
													Fotografía e Imagenes para los expertos
											</p>
											<form id="contact_form" name="contact_form" method="post">
												<div class="aurel_contact_form">
													<input type="text" name="name" form="contact_form" placeholder="Tecnologia" size="40" required="">
													<p class="aurel_text_align_center aurel_js_font_size aurel_js_color aurel_mb_15" data-font-size="10px" data-line-height="10px" data-color="#fff">
														<i> #industria, #arte, #viajes, #tecnologia, #naturaleza, #cocina, #diseño, #hogar... </i>
													</p>
												</div>
											</form>
											<div class="aurel_widget_button aurel_text_align_center">
												<div class="aurel_widget_container">
													<a class="aurel-button" href="#">
														<span>BUSCAR</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Albums Carousel -->
							<div class="row">
								<div class="col col-12">
									<div class="aurel-widget-heading aurel_mb_75"  style="margin-top:75px;">
										<div class="aurel_widget_container aurel_text_align_center">
											<h2 class="aurel-heading-title"><span class="aurel_color">EXPLORA</span> CATEGORIAS</h2>
										</div>
									</div>
									<div class="aurel_pf_fullwidth">
										<div class="elementor-widget-pm-albums-carousel aurel_mb_30">
											<div class="aurel_widget_container">
												<div class="aurel_front_end_display">
													<div class="aurel_albums_carousel_wrapper">
														<div class="aurel_albums_carousel aurel_owlCarousel owl-carousel owl-theme" data-setpad="30" data-onscreen="4" data-pause="yes" data-infinite="yes" data-autoplay="yes" data-speed="5000">
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/animales.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Animales</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/arquitectura.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Arquitectura</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/belleza.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Belleza</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/cienciatecnologia.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Ciencia</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/comidabebida.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Comida</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/computacion.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Tecnología</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/deportes.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Deportes</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/educacion.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Educacion</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/emociones.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Emociones</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/fondos.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Fondos</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/gente.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Gente</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/industria.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Industria</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/lugares.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Lugares</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/musica.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Musica</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/naturaleza.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Naturaleza</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/negocios.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Negocios</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/religion.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Religión</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/salud.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Salud</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/transporte.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Transporte</h3>
																		</div>
																	</a>
																</div>
															</div>
															<!-- Item 1 -->
															<div class="aurel_albums_carousel_item">
																<div class="aurel_albums_carousel_item_inner">
																	<a href="#">
																		<img src="{%static HTMLPage.static%}img/clipart/index/viajes.jpg" alt=""/>
																		<div class="aurel_albums_carousel_content">
																			<h3 class="aurel_albums_title">Viajes</h3>
																		</div>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Row -->
							<div class="row gutters aurel_mb_75 aurel_mt_25" style="margin-top:75px">
								<div class="col col-6 aurel_md_width_100">
									<div class="aurel-widget-image">
										<div class="aurel_widget_container aurel_md_text_align_center aurel_md_mb_22">
											<div class="aurel-image">
												<img src="{%static HTMLPage.static%}img/clipart/about04.jpg" alt=""/>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-6 aurel_md_width_100">
									<div class="aurel-widget-heading aurel_mt_5 aurel_mb_23">
										<div class="aurel_widget_container">
											<h3 class="aurel-heading-title">GRAN STOCK<span class="aurel_color"> DE CONTENIDO VISUAL</span></h3>
										</div>
									</div>
									<p class="aurel_mb_40">
										Encuentra la imagen que buscas, usa nuestro buscador usando cualquier palabra clave, libres de derechos, vectores, video, y audio.
									</p>
									<div class="row aurel_mb_40">
										<div class="col col-2">
											<div class="aurel-widget-icon">
												<div class="aurel_widget_container">
													<div class="aurel-icon-wrapper aurel_sm_text_center">
														<div class="aurel-icon aurel_js_bg_color" data-bgcolor="#232527">
															<i class="fa fa-heart-o"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col col-10">
											<div class="aurel-widget-heading aurel_mb_15">
												<div class="aurel_widget_container aurel_sm_text_center">
													<h6 class="aurel-heading-title aurel_js_font_size" data-font-size="16px" data-line-height="26px">FOTOGRAFÍA</h6>
												</div>
											</div>
											<p class="aurel_sm_text_center">ImageBankPhoto es su mejor fuente de imágenes de fotos de gran-calidad en cualquier tema y género.</p>
										</div>
									</div>
									<div class="row aurel_mb_40">
										<div class="col col-2">
											<div class="aurel-widget-icon">
												<div class="aurel_widget_container">
													<div class="aurel-icon-wrapper aurel_sm_text_center">
														<div class="aurel-icon aurel_js_bg_color" data-bgcolor="#232527">
															<i class="fa fa-video-camera"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col col-10">
											<div class="aurel-widget-heading aurel_mb_15">
												<div class="aurel_widget_container aurel_sm_text_center">
													<h6 class="aurel-heading-title aurel_js_font_size" data-font-size="16px" data-line-height="26px">VIDEO</h6>
												</div>
											</div>
											<p class="aurel_sm_text_center">La mejor variedad de clips de vídeo para crear cualquier clase de proyecto.</p>
										</div>
									</div>
									<div class="row">
										<div class="col col-2">
											<div class="aurel-widget-icon">
												<div class="aurel_widget_container">
													<div class="aurel-icon-wrapper aurel_sm_text_center">
														<div class="aurel-icon aurel_js_bg_color" data-bgcolor="#232527">
															<i class="fa fa-file-image-o"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col col-10">
											<div class="aurel-widget-heading aurel_mb_15">
												<div class="aurel_widget_container aurel_sm_text_center">
													<h6 class="aurel-heading-title aurel_js_font_size" data-font-size="16px" data-line-height="26px">ILUSTRACIÓN</h6>
												</div>
											</div>
											<p class="aurel_sm_text_center">Gráficos y arte vectoriales ajustables a escala.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- Testimonials -->
							<div class="row">
								<div class="col col-12">
									<div class="aurel-widget-heading aurel_mb_30">
										<div class="aurel_widget_container aurel_text_align_center">
											<h2 class="aurel-heading-title">Nuestros <span class="aurel_color">artistas </span> </h2>
										</div>
									</div>
									<div class="aurel_widget_pm_testimonials aurel_mb_80">
										<div class="aurel_widget_container">
											<div class="aurel_front_end_display">
												<div class="aurel_testimonials_carousel owl-carousel owl-theme" data-pause="yes" data-infinite="yes" data-autoplay="yes" data-speed="5000">
													<!-- Item 1 -->
													<div class="aurel_testimonials_item">
														<div class="aurel_testimonials_item_inner">
															<div class="testimonial_img_wrapper">
																<img src="{%static HTMLPage.static%}img/clipart/testimonials/author-1.jpg" class="testimonials_img" alt=""/>
															</div>
															<div class="testimonial_author_info">
																<h6 class="testimonial_author">Debra Campbell</h6>
																<div class="testimonial_additional">Photographer, New York</div>
															</div>
														</div>
													</div>
													<!-- Item 2 -->
													<div class="aurel_testimonials_item">
														<div class="aurel_testimonials_item_inner">
															<div class="testimonial_img_wrapper">
																<img src="{%static HTMLPage.static%}img/clipart/testimonials/author-2.jpg" class="testimonials_img" alt=""/>
															</div>
															<div class="testimonial_author_info">
																<h6 class="testimonial_author">Bill Greenberg</h6>
																<div class="testimonial_additional">Artist, Boston</div>
															</div>
														</div>
													</div>
													<!-- Item 3 -->
													<div class="aurel_testimonials_item">
														<div class="aurel_testimonials_item_inner">
															<div class="testimonial_img_wrapper">
																<img src="{%static HTMLPage.static%}img/clipart/testimonials/author-3.jpg" class="testimonials_img" alt=""/>
															</div>
															<div class="testimonial_author_info">
																<h6 class="testimonial_author">Megan Knight</h6>
																<div class="testimonial_additional">Designer, San Francisco</div>
															</div>
														</div>
													</div>
													<!-- Item 4 -->
													<div class="aurel_testimonials_item">
														<div class="aurel_testimonials_item_inner">
															<div class="testimonial_img_wrapper">
																<img src="{%static HTMLPage.static%}img/clipart/testimonials/author-4.jpg" class="testimonials_img" alt=""/>
															</div>
															<div class="testimonial_author_info">
																<h6 class="testimonial_author">Angela Kelly</h6>
																<div class="testimonial_additional">Photographer, New York</div>
															</div>
														</div>
													</div>
													<!-- Item 5 -->
													<div class="aurel_testimonials_item">
														<div class="aurel_testimonials_item_inner">
															<div class="testimonial_img_wrapper">
																<img src="{%static HTMLPage.static%}img/clipart/testimonials/author-5.jpg" class="testimonials_img" alt=""/>
															</div>
															<div class="testimonial_author_info">
																<h6 class="testimonial_author">Frank Stewart</h6>
																<div class="testimonial_additional">Artist, Boston</div>
															</div>
														</div>
													</div>
													<!-- Item 6 -->
													<div class="aurel_testimonials_item">
														<div class="aurel_testimonials_item_inner">
															<div class="testimonial_img_wrapper">
																<img src="{%static HTMLPage.static%}img/clipart/testimonials/author-6.jpg" class="testimonials_img" alt=""/>
															</div>

															<div class="testimonial_author_info">
																<h6 class="testimonial_author">Rebecca Grant</h6>
																<div class="testimonial_additional">Designer, San Francisco</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Row -->
							<div class="row">
								<div class="col col-12">
									<div class="aurel-widget-heading aurel_mb_50">
										<div class="aurel_widget_container aurel_text_align_center">
											<h2 class="aurel-heading-title">Planes y <span class="aurel_color">precios</span></h2>
										</div>
									</div>
								</div>
							</div>
							<!-- Price Tables -->
							<div class="row gutters">
								<div class="col col-4">
									<div class="aurel_widget_pm_price_item">
										<div class="aurel_widget_container aurel_mb_70">
											<div class="aurel_price_item aurel_js_bg_color" data-bgcolor="#1e2022">
												<div class="aurel_price_item_inner">
													<img src="img/clipart/price-img-1.jpg" alt="" class="aurel_price_item_image aurel_dp aurel_no_select"/>
													<h5 class="aurel_price_item_title">Plata</h5>
													<h2>$100<small style="font-size: 20px;">/m</small></h2>
													<div class="aurel_price_item_descr">
														<p>1er mes gratis</p>
														<p>5 imagenes por día</p>
														<p>2 videos por día</p>
													</div>
													<a class="aurel_button aurel_reverse_button" href="/" target="_self">CONTRATAR</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4">
									<div class="aurel_widget_pm_price_item">
										<div class="aurel_widget_container aurel_mb_70">
											<div class="aurel_price_item aurel_js_bg_color" data-bgcolor="#1e2022">
												<div class="aurel_price_item_inner">
													<img src="img/clipart/price-img-2.jpg" alt="" class="aurel_price_item_image aurel_dp aurel_no_select"/>
													<h5 class="aurel_price_item_title">Oro</h5>
													<h2>$200<small style="font-size: 20px;">/m</small></h2>
													<div class="aurel_price_item_descr">
														<p>1er mes gratis</p>
														<p>10 imagenes por día</p>
														<p>5 videos por día</p>
													</div>
													<a class="aurel_button aurel_reverse_button" href="/" target="_self">CONTRATAR</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4">
									<div class="aurel_widget_pm_price_item">
										<div class="aurel_widget_container aurel_mb_70">
											<div class="aurel_price_item aurel_js_bg_color" data-bgcolor="#1e2022">
												<div class="aurel_price_item_inner">
													<img src="img/clipart/price-img-3.jpg" alt="" class="aurel_price_item_image aurel_dp aurel_no_select"/>
													<h5 class="aurel_price_item_title">Platino</h5>
													<h2>$400<small style="font-size: 20px;">/m</small></h2>
													<div class="aurel_price_item_descr">
														<p>1er mes gratis</p>
														<p>50 imagenes por día</p>
														<p>15 videos por día</p>
													</div>
													<a class="aurel_button aurel_reverse_button" href="/" target="_self">CONTRATAR</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Widgets -->
		<div class="footer_widgets_wrapper">
			<div class="aurel_footer_widgets aurel_container">
				<div class="aurel_footer_widgets_inner aurel_widgets_in_line4">
					<!-- Quick Contacts Widget -->
					<div class="widget footer_widget widget_aurelquickcontact">
						<h6 class="widgettitle">Nosotros</h6>

						<div class="aurel_quick_contact">
							<div class="aurel_inner_qc">
								<div class="aurel_qc_widget_descr">
									<small>Hemos brindado a nuestros artistas una plataforma que les permite hacer de su pasión una forma rentable de ganarse la vida, que se basa en el otorgamiento de licencias de contenido de ImageBankPhoto a empresas y personas de todo el mundo para que lo utilicen en una amplia gama de proyectos.</small>
								</div>
								<div class="aurel_qc_widget_address">CDMX</div>
								<div class="aurel_qc_widget_email">
									<a href="mailto:ed_alvarado@domain.com">Email: contacto@imagebankphoto.com</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Featured Posts Widget -->
					<div class="widget footer_widget widget_aurel_featured_posts">
						<h6 class="widgettitle">Ultimas fotos</h6>

						<div class="aurel_recent_posts aurel_items_2">
							<div class="aurel_posts_item aurel_block_with_fi">
								<a class="aurel_posts_item_image aurel_dp aurel_no_select" href="#">
									<img src="{%static HTMLPage.static%}img/clipart/footer_widget_thumb_01.jpg" alt="" width="62" height="62" />
								</a>

								<div class="aurel_posts_item_content">
									<a class="aurel_featured_post_widget_title" href="#">Madre naturaleza</a>
									<div class="aurel_widget_meta">
										<div>Noviembre 14, 2017</div>
									</div>
								</div>
							</div>

							<div class="aurel_posts_item aurel_block_with_fi">
								<a class="aurel_posts_item_image aurel_dp aurel_no_select" href="#">
									<img src="{%static HTMLPage.static%}img/clipart/footer_widget_thumb_02.jpg" alt="" width="62" height="62" />
								</a>

								<div class="aurel_posts_item_content">
									<a class="aurel_featured_post_widget_title" href="#">Carretera</a>
									<div class="aurel_widget_meta">
										<div>Noviembre 14, 2017</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Nav Menu Widget -->
					<div class="widget footer_widget widget_aurel_flickr">
						<h6 class="widgettitle">Categorias</h6>
						<div class="menu-usefull-links-container">
							<ul>
								<li><a href="#">Animales</a></li>
								<li><a href="#">Arquitectura</a></li>
								<li><a href="#">Belleza</a></li>
								<li><a href="#">Ciencia</a></li>
								<li><a href="#">Comida</a></li>
								<li><a href="#">Tecnología</a></li>
								<li><a href="#">Deportes</a></li>
								<li><a href="#">Educacion</a></li>
								<li><a href="#">Emociones</a></li>
								
							</ul>
						</div>
					</div>

					<!-- Flickr Photostream Widget -->
					<div class="widget footer_widget widget_aurel_flickr">
						<div class="menu-usefull-links-container">
							<ul>
								<li><a href="#">Fondos</a></li>
								<li><a href="#">Gente</a></li>
								<li><a href="#">Industria</a></li>
								<li><a href="#">Lugares</a></li>
								<li><a href="#">Musica</a></li>
								<li><a href="#">Naturaleza</a></li>
								<li><a href="#">Negocios</a></li>
								<li><a href="#">Religión</a></li>
								<li><a href="#">Salud</a></li>
								<li><a href="#">Transporte</a></li>
								<li><a href="#">Viajes</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="aurel_footer aurel_with_prefooter  aurel_border_on">
			<div class="aurel_footer_inner aurel_container">
				<div class="aurel_logo_cont">
					<a href="/" class="aurel_image_logo aurel_dp aurel_no_select aurel_retina"></a>
				</div>

				<div class="aurel_copyright">© {% now "Y" %} IMAGEBANKPHOTO Todos los derechos reservados.</div>
			</div>
		</footer>

		<!-- Back Button -->
		<div class="aurel_back_to_top"></div>
	</div>

	<!-- JS Files -->
	<script src="{%static HTMLPage.static%}js/jquery.min.js"></script>
	<script src="{%static HTMLPage.static%}js/jquery.swipebox.js"></script>
	<script src="{%static HTMLPage.static%}js/jquery.fullscreen.min.js"></script>
	<script src="{%static HTMLPage.static%}js/owl.carousel.min.js"></script>
	<script src="{%static HTMLPage.static%}js/pm_testimonials.js"></script>

	<script src="{%static HTMLPage.static%}js/theme.js"></script>
</body>
</html>