extends "generic/TemplateView.html"
-load static
-load i18n
-load mirari_tags

block subheader
    .kt-subheader__main
        h3.kt-subheader__title.kt-subheader__title--separator
            strong  HERRAMIENTAS LIVERPOOL
        span.kt-subheader__separator.kt-hidden
        .kt-subheader__breadcrumbs.mr-5
            a.kt-subheader__breadcrumbs-link(href='/')  INICIO

block content
    #kt_portlet.kt-portlet
        .kt-portlet__body
                    
            .form-group.form-group-last
                .alert.alert-secondary(role='alert')
                    .alert-icon
                        i.flaticon-warning.kt-font-brand
                    .alert-text
                        | Esta herramienta actualiza todas las ordenes que se levantaron desde SIEBEL Liverpool a la plataforma de Tecnoservicio.
            .form-group.form-group-last
                button.btn.btn-primary(type='button')
                    i.fa.fa-download
                    | DESCARGAR ORDENES SIEBEL

script.
    {%block created%}
        var KTCalendarBackgroundEvents = function() {
            return {
                init: function() {
                    
                }
            };
        }();
        jQuery(document).ready(function() {
            KTCalendarBackgroundEvents.init();
        });
    {%endblock created%}
