{% extends "generic/TemplateView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator"><strong> HERRAMIENTAS LIVERPOOL</strong></h3><span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs mr-5"><a href="/" class="kt-subheader__breadcrumbs-link"> INICIO</a></div>
    </div>
{%endblock subheader%}

{%block content%}
    <div id="kt_portlet" class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="form-group form-group-last">
                <div role="alert" class="alert alert-secondary">
                    <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                    <div class="alert-text">Esta herramienta actualiza todas las ordenes que se levantaron desde SIEBEL Liverpool a la plataforma de Tecnoservicio.</div>
                </div>
            </div>
            <div class="form-group form-group-last">
                <button type="button" class="btn btn-primary" @click='consultaOrdenes()'>
                    <i class="fa fa-download"></i>
                    DESCARGAR ORDENES SIEBEL
                </button>
            </div>
        </div>
    </div>
    <div id="kt_portlet1" class="kt-portlet" v-if="orderServices.length > 0">
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="kt_widget5_tab1_content" aria-expanded="true">
                    <div class="kt-widget5" >
                        <div class="kt-widget5__item" v-for="orderService in orderServices">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        {{orderService.client_notes}}
                                    </a>
                                    <p class="kt-widget5__desc">
                                        {{orderService.client_name}} 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Status:</span>
                                        <span class="kt-font-info">{{orderService.status}}</span>
                                        <span>Telefono:</span>
                                        <span class="kt-font-info">{{orderService.contact_phone1}} {{orderService.contact_phone2}} {{orderService.contact_phone3}}</span>
                                        <span>Email:</span>
                                        <span class="kt-font-info">{{orderService.email}}</span>
                                    </div>
                                    <div class="kt-widget5__info">
                                        <span v-if="orderService.service_date">Fecha de servicio programada: {{orderService.service_date}}</span>
                                        <span class="text-danger" v-else>No hay fecha de servicio programada</span>
                                    </div>
                                </div>
                            </div>						
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{orderService.serial}}</span>
                                    <span class="kt-widget5__sales">ID TCS</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">{{orderService.serialLiverpool}}</span>
                                    <span class="kt-widget5__votes">ID LIVERPOOL</span>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}
        
<script>
    {%block data%}
        {{ block.super }}
        orderServices: [],
    {%endblock data%}
    {%block methods%}
        {{ block.super }}
        consultaOrdenes() {
            Block();
            Ax('post', '/TCS/api/TCSapi/TCS/OrderService/', {'getOrders':true})
            .then(function(json){
                orderServices = json.data.OrderServices
            })
            .catch((error) => {
                Swal.fire('Intenta de nuevo','Ocurrio un error','error')
            }).finally(() => {
                UnBlock();
            });
        },
    {%endblock methods%}
</script>