{% extends "generic/TemplateView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator"><strong> HERRAMIENTAS LIVERPOOL</strong></h3><span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs mr-5"><a href="/" class="kt-subheader__breadcrumbs-link"> INICIO</a></div>
    </div>
{%endblock subheader%}

{%block content%}
    <div id="kt_portlet" class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="form-group form-group-last">
                <div role="alert" class="alert alert-secondary">
                    <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                    <div class="alert-text">Esta herramienta actualiza todas las ordenes que se levantaron desde SIEBEL Liverpool a la plataforma de Tecnoservicio.</div>
                </div>
            </div>
            <div class="form-group form-group-last">
                <button type="button" class="btn btn-primary" @click='consultaOrdenes()'>
                    <i class="fa fa-download"></i>
                    DESCARGAR ORDENES SIEBEL
                </button>
            </div>
        </div>
    </div>
    <div id="kt_portlet1" class="kt-portlet">
        <div class="kt-portlet__body">
            

            <div class="tab-content">
                <div class="tab-pane active" id="kt_widget5_tab1_content" aria-expanded="true">
                    <div class="kt-widget5">
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product27.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Great Logo Designn
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic admin themes. 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Keenthemes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>						
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">19,200</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">1046</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product22.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Branding Mockup
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic bootstrap themes. 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Fly themes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>						
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">24,583</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">3809</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>		
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product15.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Awesome Mobile App
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic admin themes.Lorem Ipsum Amet 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Fly themes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>						
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">210,054</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">1103</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>						
                    </div>
                </div>
                <div class="tab-pane" id="kt_widget5_tab2_content">
                    <div class="kt-widget5">
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product10.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Branding Mockup
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic bootstrap themes. 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Fly themes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">24,583</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">3809</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product11.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Awesome Mobile App
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic admin themes.Lorem Ipsum Amet 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Fly themes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">210,054</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">1103</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>	
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product6.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Great Logo Designn
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic admin themes. 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Keenthemes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">19,200</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">1046</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_widget5_tab3_content">
                    <div class="kt-widget5">
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product11.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Awesome Mobile App
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic admin themes.Lorem Ipsum Amet 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Fly themes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">210,054</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">1103</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>	
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product6.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Great Logo Designn
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic admin themes. 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Keenthemes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">19,200</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">1046</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>
                        <div class="kt-widget5__item">
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__pic">
                                    <img class="kt-widget7__img" src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/products/product10.jpg" alt="">
                                </div>
                                <div class="kt-widget5__section">
                                    <a href="#" class="kt-widget5__title">
                                        Branding Mockup
                                    </a>
                                    <p class="kt-widget5__desc">
                                        Metronic bootstrap themes. 
                                    </p>
                                    <div class="kt-widget5__info">
                                        <span>Author:</span>
                                        <span class="kt-font-info">Fly themes</span>
                                        <span>Released:</span>
                                        <span class="kt-font-info">23.08.17</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget5__content">
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">24,583</span>
                                    <span class="kt-widget5__sales">sales</span>
                                </div>
                                <div class="kt-widget5__stats">
                                    <span class="kt-widget5__number">3809</span>
                                    <span class="kt-widget5__votes">votes</span>
                                </div>
                            </div>	
                        </div>	
                    </div>
                </div>
            </div>




        </div>
    </div>
{%endblock content%}
        
<script>
    {%block methods%}
        {{ block.super }}
        consultaOrdenes() {
            Block();
            Ax('post', '/TCS/api/TCSapi/TCS/OrderService/', {'getOrders':true})
            .then(function(json){
                console.log(json)
            })
            .catch((error) => {
                Swal.fire('Intenta de nuevo','Ocurrio un error','error')
            }).finally(() => {
                UnBlock();
            });
        },
    {%endblock methods%}
</script>