{% extends "generic/TemplateView.html" %}
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block subheader%}
    <div class="m-subheader m--padding-top-5">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
                    <small>MAANUAL DE</small> 
                    <strong>USUARIO</strong>
				</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="/" class="m-nav__link m-nav__link--icon">
                            <strong> <i class="la la-home"></i> INICIO</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{%endblock subheader%}

{%block content%}
<div class="row">
    <div class="col-lg-12">	
        <iframe id="frame1" src="https://fs.iconfitness.com/FieldService/index.do" width="100%" class="m--margin-5" frameBorder="0" height="600px" NORESIZE></iframe>
	</div>
</div>
{%endblock content%}


