{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="
  {%if object%}
    col-xl-9
  {%else%}
    col-xl-8 offset-xl-2
  {%endif%}
">
  {% crispy form %}
</div>
{%if object%}
<div class="col-xl-3">
  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              ID: {{object.pk}}
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="m-widget3">
          <div class="m-widget3__item">
            <div class="m-widget3__header m--margin-bottom-5">
              <div class="m-widget3__info">
                <span class="m-widget3__username">
                  {{object.get_technical_html|safe}}
                </span>
              </div>
            </div>
          </div>
          <div class="m-widget3__item">
            <div class="m-widget3__header m--margin-bottom-5">
              <div class="m-widget3__info">
                <span class="m-widget3__username">
                  {{object.get_creation_date_html|safe}}
                </span>
              </div>
            </div>
          </div>
          <div class="m-widget3__item">
            <div class="m-widget3__header m--margin-bottom-5">
              <div class="m-widget3__info">
                <span class="m-widget3__username">
                  <h5 class="m-portlet__head-text">
                    $ TOTAL
                  </h5>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              ID: {{object.pk}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div id="div_id_client_name" class="form-group">
            <label for="id_client_name" class="col-form-label requiredField">
              Concepto
            </label>
            <div>
              <input type="text" name="client_name" value="rogelio ginas mondragon" maxlength="500" required="required" id="id_client_name" class="textinput textInput form-control" aria-describedby="id_client_name-error" aria-invalid="false">
            </div>
          </div>
          <div id="div_id_client_name" class="form-group">
            <label for="id_client_name" class="col-form-label requiredField">
              Cantidad
            </label>
            <div>
              <input type="text" name="client_name" value="rogelio ginas mondragon" maxlength="500" required="required" id="id_client_name" class="textinput textInput form-control" aria-describedby="id_client_name-error" aria-invalid="false">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endif%}


                    