extends "generic/ListView.html"
-load static
-load i18n
-load mirari_tags

block searchForm
    .col-xl-8.order-2.order-xl-1.mb-2
        .row.align-items-center
            {%block searchInput%}
            {%if SERCHABLE%}
            .col-md-12.kt-margin-b-20-tablet-and-mobile
                .kt-input-icon.kt-input-icon--left
                    input#generalSearch.form-control.form-control-lg(type='text', placeholder='BUSCAR ORDEN DE SERVICIO')
                    span.kt-input-icon__icon.kt-input-icon__icon--left
                        span
                            i.la.la-search
            {%endif%}
            {%endblock searchInput%}