{% extends "metronic/layout-5.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block menu_header%}
    <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--her kt-menu__item--active" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
        <a href="page=index" class="kt-menu__link kt-menu__toggle">
            <span class="kt-menu__link-text">{%trans 'PANEL DE INICIO'%}</span>
        </a>
    </li>
{%endblock menu_header%}

{%block css%}
	{{block.super}}
    <style>
		.kt-portlet__head{
			background-color: #f7f7fb;
		}
    </style> 
{%endblock css%} 

{%block content%}
    <div class="row grid">
		{%for key, modules in ''|get_menu%}
            <div class="col-xl-4 grid-item" v-if="MENU__{{key}}.length > 0">
                <!--begin:: Widgets/Notifications-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{modules.title}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body p-0">
                        <div class="tab-content">
                            <div class="kt-notification">
                                {%for module in modules.modules%}
                                    {%if request|has_app:module.apps and request|has_permission:module%}
                                        {%if not 'html' in module%}
                                            <a href="{{module|get_url}}" class="kt-notification__item" key="{{module.keys}}">
                                                <div class="kt-notification__item-icon">
                                                    <i class="{{module.icon}}"></i>
                                                </div>
                                                <div class="kt-notification__item-details">
                                                    <div class="kt-notification__item-title">
                                                        {{module.title|upper}}
                                                    </div>
                                                    <div class="kt-notification__item-time">
                                                        <small><strong>{{module.text}}</strong></small>
                                                        <br />
                                                        <small>{{module.subtext}}</small>
                                                    </div>
                                                </div>
                                            </a>
                                        {%else%}
                                            {%if module.html%}
                                                {%include module.html%}
                                            {%endif%}
                                        {%endif%}
                                    {%endif%}
                                {%endfor%}
                            </div>
                        </div>
					</div>
                </div>
                <!--end:: Widgets/Notifications-->
            </div>
		{%endfor%}
	</div>
{%endblock content%}

{%block js%}
	{{block.super}}
    <script src="{%static 'metronic/dist/demo5/assets/app/custom/general/dashboard.js'%}" type="text/javascript"></script>
	<script src="{%static 'mirari/js/masonry.js'%}" type="text/javascript"></script>
{%endblock js%}

{%block scripts%}
    {{block.super}}
	$('.grid').masonry({
		itemSelector: '.grid-item',
		columnWidth: '.grid-item',
		gutter: 0
	});
{%endblock scripts%}