extends "metronic/layout-5.html"
-load static
-load i18n
-load mirari_tags

block menu_header
    li.kt-menu__item.kt-menu__item--open.kt-menu__item--here.kt-menu__item--submenu.kt-menu__item--rel.kt-menu__item--open.kt-menu__item--her.kt-menu__item--active(data-ktmenu-submenu-toggle='click', aria-haspopup='true')
        a.kt-menu__link.kt-menu__toggle(href='page=index')
            span.kt-menu__link-text {%trans 'PANEL DE INICIO'%}

block css
    {{block.super}}
    style(type='text/css').
        .kt-portlet__head{
            background-color: #f7f7fb;
        }

block content
    .row.grid
        {%for key, modules in ''|get_menu%}
        .col-xl-4.grid-item(v-if='MENU__{{key}}.length > 0')
            // begin:: Widgets/Notifications
            .kt-portlet
                .kt-portlet__head
                    .kt-portlet__head-label
                        h3.kt-portlet__head-title {{modules.title}}
                .kt-portlet__body.p-0
                    .tab-content
                        .kt-notification
                            {%for module in modules.modules%}
                            |   {%if request|has_app:module.apps and request|has_permission:module%}
                            |       {%if not 'html' in module%}
                            a(href="{{module|get_url}}" class="kt-notification__item" key="{{module.keys}}")
                                .kt-notification__item-icon
                                    i(class='{{module.icon}}')
                                .kt-notification__item-details
                                    .kt-notification__item-title
                                        {{module.title|upper}}
                                    .kt-notification__item-time
                                        small
                                            strong {{module.text}}
                                        br
                                        small {{module.subtext}}
                            |       {%else%}
                            |           {%if module.html%}
                            |               {%include module.html%}
                            |           {%endif%}
                            |       {%endif%}
                            |   {%endif%}
                            {%endfor%}
            // end:: Widgets/Notifications
        {%endfor%}

    

block js
    {{block.super}}
    script(src="{%static 'metronic/dist/demo5/assets/app/custom/general/dashboard.js'%}", type='text/javascript')
    script(src="{%static 'mirari/js/masonry.js'%}", type='text/javascript')

script.
    {%block scripts%}
        {{block.super}}
        $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-item',
            gutter: 0
        });
    {%endblock scripts%}