extends 'appwork/layout-without-navbar.html'
-load static
-load i18n

block styles
    {{block.super}} 
    link(rel='stylesheet', href="{%static 'appwork-html/vendor/css/pages/authentication.css'%}")

block content
    .authentication-wrapper.authentication-1.px-4
        .authentication-inner.py-5
            .d-flex.justify-content-center.align-items-center
                .ui-w-60
                    .w-100.position-relative(style='padding-bottom: 54%')
                img(src='{{G.MEDIA}}{{G.ORGANIZATION.LOGO_BG}}', style='max-width: 300px;')
            {%if G.ORGANIZATION.code == 'mxf' or G.ORGANIZATION.code == 'tcs'%}
            .text-center.text-danger.mt-3
                a(href='javascript:void(0)' style="color:inherit") 
                    span ES LA PRIMER VEZ QUE ENTRAS EN ESTA VERSION? 
                    strong TU CONTRASEÑA ES TU NOMBRE DE USUARIO
                    span , CUANDO ENTRES SE TE PEDIRA QUE CAMBIES TU CONTRASEÑA.
            {%endif%}
            form.my-3(v-on:submit.prevent='login(credentials)')
                .form-group
                    label.form-label 
                        i.fas.fa-user 
                        | {% trans ' Usuario o Email'%}
                    input.form-control(type='text', v-model='credentials.username')
                .form-group
                    label.form-label.d-flex.justify-content-between.align-items-end
                        div 
                            i.fas.fa-key 
                            | {% trans ' Contraseña'%}
                        a.d-block.small(href='javascript:void(0)' style="color:inherit") {% trans 'Olvidaste tu contraseña?'%}
                    input.form-control(type='password', v-model='credentials.password' ref='password')
                .d-flex.justify-content-between.align-items-center.m-0
                    label.custom-control.custom-checkbox.m-0
                        input.custom-control-input(type='checkbox' v-model='credentials.remember')
                        span.custom-control-label {% trans 'Recuerdame'%}
                    button.btn.btn-primary(type='submit') {% trans 'Entrar'%}
            {%comment%}                    
            {%if G.ORGANIZATION.code == 'tcs'%}
            .text-center.text-danger.mt-3
                a(href='http://sistemamexicof.sistemamexicof.com' style="color:inherit") 
                    span SI TIENES PROBLEMAS ENTRA A LA VERSIÓN ANTERIOR DANDO CLICK AQUI
            {%endif%}
            {%endcomment%}
            .text-center.text-muted
                a(href='javascript:void(0)' style="color:inherit") {% trans 'Aun no tienes cuenta?'%}
            a(v-if="SaveUsers" v-for="user in SaveUsers" @click="changeUser(user)" href="javascript:void(0)")
                .media.align-items-center.mt-2.p-2(style="background-color:#efefef;")
                    .media-body.ml-3
                        .text-light.small.font-weight-semibold.line-height-1.mb-1 ENTRAR COMO
                        .font-weight-bolder.line-height-1.text-dark ${user}
            {% if G.ORGANIZATION.ticketInvoiceLoginButton %}
            a.btn.btn-primary.btn-block.mt-4(href="{%url 'SV:TicketInvoiceMX__TemplateView'%}") 
                i.fas.fa-file-invoice.mr-2
                | {% trans 'FACTURACIÓN'%}
            {%endif%}

block js
    {{block.super}}
    script(src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js")

script.
    {%block data%}
        {{block.super}}
        credentials: {
            username: '',
            password: '',
            code: '{{G.ORGANIZATION.code}}',
            remember: true,
        },
        SaveUsers:[],
    {%endblock data%}

    {%block mounted%}
        {{block.super}}
        if ($cookies.get('SaveUsers')) self.SaveUsers = $cookies.get('SaveUsers').split(',').slice(0, 2)
    {%endblock mounted%}

    {%block methods%}
        login: function (credentials) {
            Block();
            Ax('post', '', credentials).then(function(json){
                if (!json.data.message && self.credentials.remember){
                    if(self.SaveUsers.filter(username => username==credentials.username).length == 0) self.SaveUsers.unshift(credentials.username)
                    $cookies.set('SaveUsers', self.SaveUsers, "3y")
                } 
                if (!json.data.message) location.reload();
                else {%if G.ORGANIZATION.code == 'mxf' or G.ORGANIZATION.code == 'tcs'%}swal('Usuario incorrecto!', 'Intenta poniendo tu usuario tambien en tu contraseña.', 'error'){%else%}swal('Error!', json.data.message, 'error'){%endif%}
            }).finally(() => {
                UnBlock();
            });
        },
        changeUser: ((user) => {
            self.credentials.username = user
            self.$refs.password.focus();
        }),
    {%endblock methods%}