{% extends "generic/CreateView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}ORDENES DE ENTREGA :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator">
            {%if not object%}
                <small>CREAR</small> 
                <strong style="font-size: 2rem;">ORDEN DE ENTREGA</strong>
            {%else%}
                <small>EDITAR</small> 
                <strong style="font-size: 2rem;">ORDEN DE ENTREGA</strong>
            {%endif%} 
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            {%if redirect_model%}
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="{{redirect_model.url_list}}" class="kt-subheader__breadcrumbs-link">
                    Lista de {{ redirect_model|verbose_name_plural|upper }}
                </a>
            {%else%}
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="{{model.url_list}}" class="kt-subheader__breadcrumbs-link">
                    Lista de {{ model|verbose_name_plural|upper }}
                </a>
            {%endif%}
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
        <div class="col-xl-5">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
                    <!--begin::Widget -->
                    <div class="kt-widget33">
                        <div class="kt-widget33__head col-xl-12">
                            <a href="#" onclick="var message={action:'GetQR', target:'codebar'}; webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify(message));" name="save__edit" class="btn btn-brand">
                                <i class="la la-barcode"></i> 
                                <span class="kt-hidden-mobile">
                                    ESCANEAR PRODUCTO
                                </span>
                            </a>
                            <!--<input type="text" class="form-control kt-quick-search__input hidden" placeholder="CB DEL PRODUCTO" id="id_codebar" v-model="codebar">-->
                        </div>
                        <div class="kt-widget33__head">
                            <label for="id_product" class="col-form-label  col-xl-3 col-lg-3" v-on:click="addProduct">
                                <i class="fas fa-plus"></i> AGREGAR
                            </label> 
                            <div class=" col-xl-9 col-lg-9"> 
                                <select name="product" id="id_product" class="select form-control autofocus" v-model="productID"> 
                                    <option value="" selected>---------</option>
                                </select> 
                            </div>
                        </div>
                        <div class="kt-widget33__body">
                            <a href="#" class="kt-widget33__title">
                                PRODUCTOS
                            </a>
                            <p v-if="productList.length > 0">
                                <div class="kt-portlet__body">
                                    <div class="kt-timeline-v2" v-for="product in productList">
                                        <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
                                            <div class="kt-timeline-v2__item">
                                                <span class="kt-timeline-v2__item-time">${product[1]}</span>
                                                <div class="kt-timeline-v2__item-cricle">
                                                </div>
                                                <div class="kt-timeline-v2__item-text  kt-padding-top-5">
                                                    ${product[0]['name']}                                   	                                	               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                            <p v-if="productList.length == 0">
                                No hay productos seleccionados
                            </p>
                            <!--end::Widget 
                            <div class="kt-widget33__items">
                                <div class="kt-widget33__item">
                                    <img class="kt-widget33__pic" src="{%static 'metronic/dist/demo5/dist/assets/media/products/product25.jpg'%}" alt="image">
                                    <div class="kt-widget33__content">
                                        <span class="kt-widget33__subtitle">
                                            Three friends
                                        </span>
                                        <div class="kt-widget33__action">
                                            <button type="button" class="btn btn-info btn-sm"><i class="fa fa-minus"></i></button>&nbsp;
                                            <button type="button" class="btn btn-success btn-sm ml-2"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <span class="kt-widget33__price">
                                        $42
                                    </span>
                                </div>
                            </div>
                            -->
                            <div class="kt-widget33__foot">
                                <div class="kt-widget33__section">
                                    <span class="kt-widget33__desc">
                                        TOTAL DE PRODUCTOS
                                    </span>
                                    <span class="kt-widget33__subtotal">
                                        0
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--end::Widget -->
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            {% crispy form %}
        </div>
    </div>
{%endblock content%}


<script>
{%block data%}
    {{ block.super }}
    productID: null,
    codebar: '' ,
    productList: [],
{%endblock data%}

{%block created%}
    $("#div_id_product").hide();
{%endblock created%}

{%block methods%}
    {{ block.super }}
    addProduct() {
        let id_product = document.querySelector('#id_product');
        if (id_product.value){
            Block();
            Ax('post', '/STR/api/InventoryApi/STR/Product/', {'productID':id_product.value})
            .then(function(json){
                if(json.data.product.name){
                    let resultado = self.productList.find( product => {product[0].id === json.data.product.id} );
                    if (resultado){ resultado[1] += 1 }
                    else { self.productList.push([json.data.product, 1]) }
                }else{
                    Swal.fire('Intenta de nuevo','Producto no encontrado','error')
                }
            })
            .catch((error) => {
                Swal.fire('Intenta de nuevo','Ocurrio un error','error')
            }).finally(() => {
                UnBlock();
            });
        } else {
            Swal.fire('Intenta de nuevo','Elije un producto','error')
        }
    },
{%endblock methods%}
</script>
