{% extends "generic/CreateView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}ORDENES DE ENTREGA :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator">
            {%if not object%}
                <small>CREAR</small> 
                <strong style="font-size: 2rem;">ORDEN DE ENTREGA</strong>
            {%else%}
                <small>EDITAR</small> 
                <strong style="font-size: 2rem;">ORDEN DE ENTREGA</strong>
            {%endif%} 
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            {%if redirect_model%}
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="{{redirect_model.url_list}}" class="kt-subheader__breadcrumbs-link">
                    Lista de {{ redirect_model|verbose_name_plural|upper }}
                </a>
            {%else%}
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="{{model.url_list}}" class="kt-subheader__breadcrumbs-link">
                    Lista de {{ model|verbose_name_plural|upper }}
                </a>
            {%endif%}
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
        <div class="col-xl-6">
            {% crispy form %}
        </div>
        <div class="col-xl-6">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
                    <!--begin::Widget -->
                    <div class="kt-widget33">
                        <div class="kt-widget33__head">
                            <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                            <a href="#" class="kt-widget33__title">AGREGAR PRODUCTO</a>
                        </div>
                        <div class="kt-widget33__body">
                        </div>
                    </div>
                    <!--end::Widget -->
                </div>
            </div>

        </div>
    </div>
{%endblock content%}