{% extends "generic/ListView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h4 class="kt-subheader__title kt-subheader__title--separator">
            <small>LISTA DE</small> 
			<strong>ORDENES DE ENTREGA</strong> 
        </h4>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="/" class="kt-subheader__breadcrumbs-link">
                INICIO 
            </a>
        </div>
    </div>
{%endblock subheader%}