{% extends "generic/CreateView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}ORDENES DE ENTREGA :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator">
            {%if not object%}
                <small>CREAR </small> 
                <strong style="font-size: 2rem;">{%if request.GET.type == 'in'%} ENTRADA{%else%} SALIDA{%endif%} DE ALMACÉN</strong>
            {%else%}
                <small>EDITAR </small> 
                <strong style="font-size: 2rem;">{%if request.GET.type == 'in'%} ENTRADA{%else%} SALIDA{%endif%} DE ALMACÉN</strong>
            {%endif%} 
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            {%if redirect_model%}
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="/STR/list/InventoryOrder/?type={{request.GET.type}}" class="kt-subheader__breadcrumbs-link">
                    Lista de {{ redirect_model|verbose_name_plural|upper }}
                </a>
            {%else%}
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="/STR/list/InventoryOrder/?type={{request.GET.type}}" class="kt-subheader__breadcrumbs-link">
                    Lista de {{ model|verbose_name_plural|upper }}
                </a>
            {%endif%}
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
        <div class="col-xl-7">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
                    <!--begin::Widget -->
                    <div class="kt-widget33">
                        {%if not object.status == 'TERMINADA'%}
                        <div class="kt-widget33__head col-xl-12">
                            <a href="#" onclick="var message={action:'GetQR', target:'codebar'}; webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify(message));" name="save__edit" class="btn btn-brand">
                                <i class="la la-barcode"></i> 
                                <span class="kt-hidden-mobile">
                                    ESCANEAR PRODUCTO
                                </span>
                            </a>
                            <!--<input type="text" class="form-control kt-quick-search__input hidden" placeholder="CB DEL PRODUCTO" id="id_codebar" v-model="codebar">-->
                        </div>
                        <div class="kt-widget33__head">
                            <label for="id_product" class="col-form-label  col-xl-3 col-lg-3" v-on:click="addProduct">
                                <i class="fas fa-plus"></i> AGREGAR
                            </label> 
                            <div class=" col-xl-9 col-lg-9"> 
                                <select name="product" id="id_product" class="select form-control autofocus"> 
                                    <option value="" selected>---------</option>
                                </select> 
                            </div>
                        </div>
                        {%endif%}
                        {%if object%}
                            <div class="kt-widget33__head col-xl-12">
                                <a href="#" name="save__edit" class="btn btn-brand" @click.prevent="printOrder()">
                                    <i class="la la-print"></i> 
                                    <span class="kt-hidden-mobile">
                                        IMPRIMIR ORDEN
                                    </span>
                                </a>
                            </div>
                        {%endif%}
                        <div class="kt-widget33__body">
                            <a href="#" class="kt-widget33__title">
                                PRODUCTOS
                            </a>
                            <p v-if="productList.length > 0">
                                <div class="kt-portlet__body">
                                    <div class="kt-timeline-v3">
                                        <div class="kt-timeline-v3__items" v-for="product in productList">
                                            <div class="kt-timeline-v3__item kt-timeline-v3__item--info" style="width: 100%;">
                                                <span class="kt-timeline-v3__item-time p-2" {%if not object.status == 'TERMINADA'%}@click="changeNumber(product)"{%endif%}>
                                                    ${product[1]}
                                                </span> 
                                                <div class="kt-timeline-v3__item-desc">	
                                                    <span class="kt-timeline-v3__item-text">
                                                        <div class="row">
                                                            <div class="col-xl-4 p-2" {%if not object.status == 'TERMINADA'%}@click="changeNumber(product)"{%endif%}>
                                                                ${product[0]['name']}
                                                                <br >
                                                                ${product[0]['codebar']} 
                                                            </div>
                                                            <div class="col-xl-4 p-2" {%if not object.status == 'TERMINADA'%}@click="changePrice(product)"{%endif%}>
                                                                precio: $ ${product[2]|formatPrice}
                                                            </div>
                                                            <div class="col-xl-4 p-2" {%if not object.status == 'TERMINADA'%}@click="changePriceEspecial(product)"{%endif%}>
                                                                especial: $ ${product[3]|formatPrice}
                                                            </div>
                                                        </div> 
                                                    </span>
                                                    <span class="kt-timeline-v3__item-user-name">
                                                        <span class="kt-link kt-link--dark kt-timeline-v3__itek-link">
                                                        </span>
                                                    </span>	
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                            <p v-if="productList.length == 0">
                                No hay productos seleccionados
                            </p>
                            <!--end::Widget 
                            <div class="kt-widget33__items">
                                <div class="kt-widget33__item">
                                    <img class="kt-widget33__pic" src="{%static 'metronic/dist/demo5/dist/assets/media/products/product25.jpg'%}" alt="image">
                                    <div class="kt-widget33__content">
                                        <span class="kt-widget33__subtitle">
                                            Three friends
                                        </span>
                                        <div class="kt-widget33__action">
                                            <button type="button" class="btn btn-info btn-sm"><i class="fa fa-minus"></i></button>&nbsp;
                                            <button type="button" class="btn btn-success btn-sm ml-2"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <span class="kt-widget33__price">
                                        $42
                                    </span>
                                </div>
                            </div>
                            -->
                            <div class="kt-widget33__foot">
                                <div class="kt-widget33__section">
                                    <span class="kt-widget33__desc">
                                        TOTAL DE PRODUCTOS
                                    </span>
                                    <span class="kt-widget33__subtotal">
                                        ${productList|TotalProducts}
                                    </span>
                                </div>
                                <div class="kt-widget33__section">
                                    <span class="kt-widget33__desc">
                                        TOTAL
                                    </span>
                                    <span class="kt-widget33__subtotal">
                                        $ ${productList|TotalPrice|formatPrice}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Widget -->
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            {% crispy form %}
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12 kt-hide"><!-- kt-hide -->
            <div id="print_order">
                {%for x in 'xx'%}
                <div class="kt-portlet kt-portlet" style="min-height: 900px;">
                    <div class="kt-invoice-2 p-5">
                        <div class="kt-invoice__wrapper">
                            <div class="kt-invoice__head">
                                <div class="kt-invoice__container kt-invoice__container--centered">
                                    <div class="kt-invoice__logo mb-5">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-6" style="text-align: center;color: inherit;">
                                                        <p class="mb-0"></p>
                                                    </div>
                                                    <div class="col-6" style="text-align: center;color: inherit;"><img src="https://mirariapp.s3.amazonaws.com/media/O/3tcs/SYSTEM/ikstr.png" style="max-width: 400px;">
                                                        <p class="mb-0 h1">ORDEN DE COMPRA</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="row">
                                                    <div class="col-12" style="text-align:right;">
                                                        <p class="mb-0 h3">{{object.initialDateTime|date:"d M Y"}}</p>
                                                        <p class="mb-0 h3">FOLIO: {{object.id}}</p>
                                                        <p class="mb-0 h5">ID: {{object.id}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="kt-invoice__item">
                                                    <p>CLIENTE:<strong class="ml-2">{{object.provider.name|default:'-'}}</strong></p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="kt-invoice__item">
                                                    <p>CONDICIONES PAGO:<strong class="ml-2">{{object.paymentCondition|default:'-'}}</strong><strong class="ml-2">-</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="kt-invoice__item">
                                                    <p>RAZON SOCIAL:<strong class="ml-2">{{object.provider.razonSocial|default:'-'}}</strong></p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="kt-invoice__item">
                                                    <p>TIPO:<strong class="ml-2">{{object.provide.typeProvider|default:'-'}}</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="kt-invoice__item">
                                                    <p>NOMBRE DE QUIEN SOLICITA:<strong class="ml-2">{{object.responsibleName|safe|default:'-'}}</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="kt-invoice__item">
                                                    <p>PROVEEDOR:<strong class="ml-2">{{object.provider.name|default:'-'}}</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items mt-5">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>MODELO</p>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="kt-invoice__item">
                                                    <p>DESCRIPCION</p>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="kt-invoice__item">
                                                    <p>UNI</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>COSTO</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>PROMOCION</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>IMPORTE</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items mt-5">
                                        <div class="row" v-for="product in productList">
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>
                                                        <strong class="ml-2">${product[0]['name']}</strong>
                                                        <br >
                                                        ${product[0]['codebar']} 
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="kt-invoice__item">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="kt-invoice__item">
                                                    <p>
                                                        <strong class="ml-2">${product[1]}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>
                                                        <strong class="ml-2">$ ${product[2]|formatPrice}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>
                                                        <strong class="ml-2">$ ${product[3]|formatPrice}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p>
                                                        <strong class="ml-2">$ ${(product[1] * product[3])|formatPrice}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items mt-5">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="kt-invoice__item">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="kt-invoice__item">
                                                    <p><strong class="ml-2">TOTAL: $ ${productList|TotalPrice|formatPrice}</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items mt-5">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="kt-invoice__item">
                                                    <p>TRANSPORTISTA:<strong class="ml-2">{{object.fordwarder|default:'-'}}</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-invoice__items mt-5">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="kt-invoice__item">
                                                    <p>ELABORO:</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="kt-invoice__item">
                                                    <p>REVISO:</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="kt-invoice__item">
                                                    <p>AUTORIZO:</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
{%endblock content%}

{%block js%}
    {{block.super}}
    <script src="{%static 'mirari/js/print.js'%}" type='text/javascript'></script>
{%endblock%}

<script>
{%block data%}
    {{ block.super }}
    codebar: '' ,
    productList: [],
{%endblock data%}

{%block created%}
    $("#div_id_product").hide();
    {%if request.GET.type == 'out'%}
        $("#div_id_provider").hide();
    {%else%}
        $("#div_id_client").hide();
    {%endif%}
    {%if object.status == 'TERMINADA'%}
        $("#saveButtons").hide();
    {%else%}
        $("#saveButtons").html(`
            <button type="button" class="btn btn-brand" @click="sendForm()">
                <i class="la la-save"></i>
                <span class="kt-hidden-mobile">
                    {%if not object%}
                        GUARDAR {{ model|verbose_name_singular|upper }}
                    {%else%}
                        ACTUALIZAR <small>{{ model|verbose_name_singular|upper }}</small>
                    {%endif%}
                </span>
            </button>
        `);
    {%endif%} 
    {%if object%}
        Block();
        Ax('post', '/STR/api/InventoryApi/STR/Product/', {'getProducts':{{object.id}}})
        .then(function(json){
            for(product of json.data.products){
                self.productList.push([product.product, product.quantity, product.cost, product.specialCost])
            }
        })
        .catch((error) => {
            Swal.fire('Oops! Ocurrio un error','Error al cargar los productos','error')
        }).finally(() => {
            UnBlock();
        });
        {%if object.status == 'TERMINADA'%}
            $("#div_id_status").hide()
        {%endif%}
    {%else%}
        $("#div_id_status").hide();
    {%endif%} 
{%endblock created%}

{%block methods%}
    {{ block.super }}
    printOrder() {
        $('#print_order').printThis();
    },
    addProduct() {
        let id_product = document.querySelector('#id_product');
        if (id_product.value){
            Block();
            Ax('post', '/STR/api/InventoryApi/STR/Product/', {'productID':id_product.value})
            .then(function(json){
                if(json.data.product.name){
                    let resultado = self.productList.findIndex( product => {return product[0].id === json.data.product.id} );
                    if (resultado > -1){ 
                        let product = self.productList[resultado]
                        product[1] += 1 
                        self.productList.splice(resultado, 1)
                        self.productList.unshift(product)
                    }
                    else { 
                        let price = json.data.product.costPrice
                        if (!price){
                            price = 0
                        }
                        self.productList.unshift([json.data.product, 1, price, price])
                    }
                }else{
                    Swal.fire('Intenta de nuevo','Producto no encontrado','error')
                }
            })
            .catch((error) => {
                Swal.fire('Intenta de nuevo','Ocurrio un error','error')
            }).finally(() => {
                UnBlock();
            });
        } else {
            Swal.fire('Intenta de nuevo','Elije un producto','error')
        }
    },
    changeNumber(product) {
        Swal.fire({
            title: 'Ingresa el numero de productos',
            input: 'range',
            icon: 'question',
            inputAttributes: {
                min: 1,
                max: 25,
                step: 1
            },
            inputValue: product[1],
            confirmButtonText: 'ACTUALIZAR PRODUCTO',
            showCancelButton: true,
            cancelButtonText: 'ELIMINAR',
            cancelButtonColor: 'danger',
            showLoaderOnConfirm: true,
            preConfirm: (value) => {
                let resultado = self.productList.findIndex( getProduct => {return getProduct === product} );
                self.productList.splice(resultado, 1)
                product[1] = parseInt(value)
                self.productList.unshift(product)
                return true
            },
        }).then((result) => {
            if(result.dismiss === 'cancel'){
                let resultado = self.productList.findIndex( getProduct => {return getProduct === product} );
                self.productList.splice(resultado, 1)
            }
        })
    },
    changePrice(product) {
        Swal.fire({
            title: 'Ingresa el precio del producto',
            input: 'text',
            inputValue: product[2],
            confirmButtonText: 'ACTUALIZAR PRODUCTO',
            showLoaderOnConfirm: true,
            inputValidator: (value) => {
                value = parseFloat(value)
                if (Number.isNaN(value)){
                    return 'Escribe un valor correcto'
                }
                if (value < 0){
                    return 'Escribe un valor correcto'
                }
            },
            preConfirm: (value) => {
                let resultado = self.productList.findIndex( getProduct => {return getProduct === product} );
                self.productList.splice(resultado, 1)
                product[2] = parseFloat(value)
                product[3] = parseFloat(value)
                self.productList.unshift(product)
                return true
            },
        })
    },
    changePriceEspecial(product) {
        Swal.fire({
            title: 'Ingresa el precio especial del producto',
            input: 'text',
            inputValue: product[3],
            confirmButtonText: 'ACTUALIZAR PRODUCTO',
            showLoaderOnConfirm: true,
            inputValidator: (value) => {
                value = parseFloat(value)
                if (Number.isNaN(value)){
                    return 'Escribe un valor correcto'
                }
                if (value < 0){
                    return 'Escribe un valor correcto'
                }
            },
            preConfirm: (value) => {
                let resultado = self.productList.findIndex( getProduct => {return getProduct === product} );
                self.productList.splice(resultado, 1)
                product[3] = parseFloat(value)
                self.productList.unshift(product)
                return true
            },
        })
    },
    sendForm() {
        if (!document.querySelector('#id_provider').value) {
            Swal.fire('Intenta de nuevo','Elige un proveedor','error')
            return 0;
        }
        if (!document.querySelector('#id_producttype').value) {
            Swal.fire('Intenta de nuevo','Elige un tipo de producto','error')
            return 0;
        }
        if (!document.querySelector('#id_fordwarder').value) {
            Swal.fire('Intenta de nuevo','Elige un promotor','error')
            return 0;
        }
        if (!document.querySelector('#id_paymentCondition').value) {
            Swal.fire('Intenta de nuevo','Elige una condición de pago','error')
            return 0;
        }
        if (self.productList.length < 1) {
            Swal.fire('Intenta de nuevo','Agrega productos a la orden','error')
            return 0;
        }
        var sendData = {
            provider : document.querySelector('#id_provider').value,
            producttype : document.querySelector('#id_producttype').value,
            fordwarder : document.querySelector('#id_fordwarder').value,
            paymentCondition : document.querySelector('#id_paymentCondition').value,
            responsibleName : document.querySelector('#id_responsibleName').value,
            responsible : document.querySelector('#id_responsible').value,
            notes : document.querySelector('#id_notes').value,
            status : document.querySelector('#id_status').value,
            productList : self.productList,
            type : '{{request.GET.type}}',
            {%if object%}idObject: {{object.id}},{%endif%}
        }
        Block();
        Ax('post', '/STR/api/InventoryApi/STR/Product/', {'sendData': JSON.stringify(sendData)})
        .then(function(json){
            console.log(json)
        })
        .catch((error) => {
            Swal.fire('Intenta de nuevo','Ocurrio un error','error')
        }).finally(() => {
            UnBlock();
        });
    },
{%endblock methods%}

{%block filters%}
    {{block.super}}
    TotalProducts: ((productList) => {
        var total = 0
        var totalArray  = productList.map( product => {
            return product[1]
        })
        totalArray.forEach(totalProduct => total += totalProduct);
        return total
    }),
    TotalPrice: ((productList) => {
        var total = 0
        var totalArray  = productList.map( product => {
            return [product[3],product[1]]
        })
        totalArray.forEach(totalProduct => total += (totalProduct[0]*totalProduct[1]));
        return total
    }),
    formatPrice: ((value) => {
        try {
            let val = (value/1).toFixed(2)
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        } catch (error) {
            return '0.00'
        }
    }),
{%endblock filters%}
</script>
