{% extends "generic/ListView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{% block title %}ORDENES DE ENTREGA :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h2 class="kt-subheader__title kt-subheader__title--separator">
			<strong style="font-size: 2rem;">ORDENES DE ENTREGA</strong> 
        </h2>
    </div>
{%endblock subheader%}

{%block buttonAdd%}
    <a href="{{model.url_add}}" class="btn btn-brand btn-elevate btn-icon-sm mb-2">
        <i class="la la-plus"></i>
        AGREGAR ORDEN DE ENTREGA
    </a>
{%endblock buttonAdd%}