extends "generic/TemplateView.html"
-load static
-load i18n
-load mirari_tags

block subheader
    .kt-subheader__main
        h3.kt-subheader__title.kt-subheader__title--separator
            small MANUAL DE 
            strong  USUARIO
        span.kt-subheader__separator.kt-hidden
        .kt-subheader__breadcrumbs.mr-5
            a.kt-subheader__breadcrumbs-link(href='/')  INICIO

block content
    .row
        .col-lg-12
            iframe#frame1.m--margin-5(src='https://www.iconservice.com/CustomerService/manuals.do', width='100%', frameborder='0', height='600px', noresize='')


