{% extends "generic/CreateView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load crispy_forms_tags %}
{% load humanize %}

<script>
{%block mounted%}
    {{block.super}}
    const ifrm = document.createElement('iframe');
    ifrm.setAttribute('id', 'ifrm');
    ifrm.style.minHeight = "300px";
    ifrm.style.minWidth = "100%";
    const el = document.getElementById("ProductReport");
    el.append(ifrm);
    ifrm.setAttribute('src', '/gupdate/STR/569/Product/');
{%endblock mounted%}
</script>