{% extends "generic/CreateView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load crispy_forms_tags %}
{% load humanize %}

<script>
{%block data%}
    {{block.super}}
    productsReport: [],
{%endblock data%}

{% block css %}
    {{block.super}}
    .alert-solid-danger{
        background-color: #dc131347!important;
    }
    .alert-solid-success{
        background-color: #00961a47!important;
    }
{% endblock css %}

{%block mounted%}
    {{block.super}}
    Ax('post', '/STR/api/InventoryApi/STR/Product/', { 'getProductsReport':{{object.id}} })
        .then(function (json) {
            self.productsReport = json.data.products
        })
        .catch((error) => {
            Swal.fire('Oops! Ocurrio un error', 'Error al cargar los productos', 'error')
        }).finally(() => {
            UnBlock();
        });
{%endblock mounted%}
</script>