{% extends "generic/ListView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block extra_header_menu%}
    <div class="kt-header-toolbar">
            <div class="kt-quick-search" id="quick_search_OrderService">
                <form method="get" class="kt-quick-search__form">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="flaticon-list"></i>
                            </span>
                        </div>
                        <button type="button" class="btn btn-brand"><i class="fas fa-barcode"></i> CAPTURAR</button>
                        <input type="text" class="form-control kt-quick-search__input" placeholder="CB DEL PRODUCTO">
                    </div>
                </form>
            </div>
        </div>
{%endblock extra_header_menu%}