{% extends "generic/ListView.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block extra_header_menu%}
{%endblock extra_header_menu%}

{%block extra_buttonsList%}
    <form method="get" class="kt-quick-search__form mb-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-barcode"></i>
                </span>
            </div>
            <input type="text" class="form-control kt-quick-search__input" placeholder="CB DEL PRODUCTO">
        </div>
    </form>
    <a href="{{model.url_add}}" class="btn btn-brand btn-elevate btn-icon-sm mr-4">
        <i class="fas fa-barcode"></i>
        {{ model.add_text.0 }}
    </a>
{%endblock extra_buttonsList%}