{% load mirari_tags %}
<div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
    <div class="m-form__actions">
        {%if buttons%}
            {{buttons}}
        {%else%}
            <button type="submit" class="btn btn-primary m--margin-right-15" name="save">
                {%if not object%}
                    GUARDAR {{ model|verbose_name_singular|upper }}
                {%else%}
                    ACTUALIZAR <small>{{ model|verbose_name_singular|upper }}</small>
                {%endif%}
            </button>
            {%if not hide_extra_submmit%}
                <button type="submit" class="btn btn-success" name="save__edit">
                    {%if not object%}
                        GUARDAR  <small>y continuar editando.</small>
                    {%else%}
                        ACTUALIZAR <small>y continuar editando.</small>
                    {%endif%}
                </button>
                {%if not object%}
                    <button type="submit" class="btn btn-warning m--pull-right" name="save__other">
                        GUARDAR <small>y crear otro.</small>
                    </button>
                {%endif%}
                {%if object%}
                    {%if not hide_delete_button%}
                        <button type="submit" class="btn btn-danger m--pull-right" name="delete">
                            ELIMINAR <small>{{ model|verbose_name_singular|upper }}</small>
                        </button>
                    {%endif%}
                {%endif%}
            {%endif%}
        {%endif%}
    </div>
</div>