{% extends "metronic/layout-5.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% endblock title %}

{%block subheader%}
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="/" class="m-nav__link m-nav__link--icon">
                            <strong> <i class="la la-home"></i> INICIO</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
		<div class="col-md-10">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								{{object}}
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form id="form" method="post" enctype="multipart/form-data" class="m-form m-form--label-align-right">{% csrf_token %}
					<div class="m-portlet__body">
						<div class="m-form__content">
							{{object.message|safe}}
						</div>
						{%comment%}
						<div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
							<div class="m-form__actions">
                                <button type="submit" class="btn btn-primary m--margin-right-15" name="save">
                                    Ve
                                </button>
							</div>
						</div>
						{%endcomment%}
						<p>
							Enviado por el canal: <strong> {{object.channel}}</strong>
							{%if object.datetime_expire%}
								<br /> Expira el: <strong>{{object.datetime_expire|date:"SHORT_DATE_FORMAT"}}</strong>
							{%endif%}
						</p>
					</div>
				</form>
				<!--end::Form-->
			</div>
		</div>
	</div>
{%endblock content%}