{% load static %}
{% load mirari_tags %}
<!-- begin::Brand -->
<div class="m-stack__item m-brand">
	<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
		<div class="m-stack__item m-stack__item--middle m-brand__logo">
			<a href="/" class="m-brand__logo-wrapper">
				<img alt="" src="{{G.MEDIA}}{{ G.ORGANIZATION.LOGO }}" style="max-width: 85px;;"/>
			</a>
		</div>
		<div class="m-stack__item m-stack__item--middle m-brand__tools">
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
				<a href="#" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill">
					<span>
						{{request|get_session_organization}}
					</span>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									{%for organization in request.user.my_organizations%}
										<li class="m-nav__item">
											<a href="#{{organization.id}}" class="m-nav__link" v-on:click.prevent="change_organization({{organization.code}})">
												<i class="m-nav__link-icon flaticon-more"></i>
												<span class="m-nav__link-text">
													{{ organization }}
												</span>
											</a>
										</li>
									{%endfor%}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BEGIN: Responsive Aside Left Menu Toggler -->
			<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
				<span></span>
			</a>
			<!-- END -->										<!-- begin::Responsive Header Menu Toggler-->
			<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
				<span></span>
			</a>
			<!-- end::Responsive Header Menu Toggler-->							<!-- begin::Topbar Toggler-->
			<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
				<i class="flaticon-more"></i>
			</a>
			<!--end::Topbar Toggler-->
		</div>
	</div>
</div>
<!-- end::Brand -->
