{%load mirari_tags%}
<!-- begin::Topbar -->
<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
	<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
		<div class="m-stack__item m-topbar__nav-wrapper">
			<ul class="m-topbar__nav m-nav m-nav--inline">
				{%if request|has_app_code:'INT'%}
					{%include 'metronic/metronic-partials/_topbar-notifications.html'%}
				{%endif%}
				{%comment%}
					{%include 'metronic/metronic-partials/_topbar-quick-actions.html'%}
				{%endcomment%}
				{%include 'metronic/metronic-partials/_topbar-user-profile.html'%}
				{%comment%}
					<li id="m_quick_sidebar_toggle" class="m-nav__item">
						<a href="#" class="m-nav__link m-dropdown__toggle">
							<span class="m-nav__link-icon m-nav__link-icon--aside-toggle">
								<span class="m-nav__link-icon-wrapper">
									<i class="flaticon-menu-button"></i>
								</span>
							</span>
						</a>
					</li>
				{%endcomment%}
			</ul>
		</div>
	</div>
</div>
<!-- end::Topbar -->
