{% extends "metronic/layout-5.html" %}
{% load static %}

{%block title%} 400 Bad request {%endblock title%}

{%block styles%}
    <link href="{%static 'metronic/default/assets/vendors/base/vendors.bundle.css'%}" rel="stylesheet" type="text/css" />
    <link href="{%static 'metronic/default/assets/demo/default/base/style.bundle.css'%}" rel="stylesheet" type="text/css" />
    <style>
        .m-grid__item{
                min-height: 100vh!important;
        }
    </style>
{%endblock styles%}

{%block body_content%}
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid  m-error-3" style="background-image: url({%static 'metronic/default/assets/app/media/img/error/bg3.jpg'%});">
            <div class="m-error_container">
                <span class="m-error_number">
                    <h1>403</h1>		 
                </span> 	
                <p class="m-error_title m--font-light">
                    ERROR!
                </p>
                <p class="m-error_subtitle">
                    Bad request
                </p>	
            </div>	 
        </div>
    </div>
{%endblock%}


