extends "metronic/layout-5.html"
-load static

block title%
    | 400 Bad request

block styles
    link(href="{%static 'metronic/dist/demo5/assets/app/custom/error/error-v4.default.css'%}", rel='stylesheet', type='text/css')
    {{block.super}}
    style.
        .kt-grid__item{
            min-height: 100vh!important;
        }
block body_class
    | kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading

block body_content
    .kt-grid.kt-grid--ver.kt-grid--root
        .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-error-v4(style="background-image: url({%static 'metronic/dist/default/assets/media//error/bg4.jpg'%});")
            .kt-error_container
                h5.kt-error_number 400
                p.kt-error_title ERROR
                p.kt-error_description BAD REQUEST
                p.kt-error_description.mt-0
                    a.btn.btn-secondary.btn-tallest(href="javascript: history.go(-1)") 
                        i.flaticon2-back
                        | REGRESAR