{% extends "metronic/layout-5.html" %}
{% load static %}

{%block title%} 500 Internal server error {%endblock title%}

{%block styles%}
    <link href="{%static 'metronic/default/assets/vendors/base/vendors.bundle.css'%}" rel="stylesheet" type="text/css" />
    <link href="{%static 'metronic/default/assets/demo/default/base/style.bundle.css'%}" rel="stylesheet" type="text/css" />
    <style>
        .m-grid__item{
                min-height: 100vh!important;
        }
    </style>
{%endblock styles%}

{%block body_content%}
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid  m-error-5" style="background-image: url({%static 'metronic/default/assets/app/media/img/error/bg5.jpg'%});">
            <div class="m-error_container">
                <span class="m-error_title">
                    <h1>Oops!</h1>		 
                </span> 		
                <p class="m-error_subtitle">
                    <strong>Algo salió mal</strong>
                </p>	
                <p class="m-error_description">
                    <small>Su error fue enviado al administrador</small>
                    <br>
                    <br>
                    <button type="button" class="btn btn btn-outline-primary m-btn m-btn--custom m-btn--outline-2x" v-on:click="back_history()"><i class="fa fa-arrow-left fa2x"></i> REGRESAR</button>
                </p>	 
            </div>	 
        </div>				
    </div>
{%endblock%}


