{% load i18n %}
<!-- begin::Quick Sidebar -->
<div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
	<div class="m-quick-sidebar__content">
		<span id="m_quick_sidebar_close" class="m-quick-sidebar__close">
			<i class="la la-close"></i>
		</span>
		<ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
			<li class="nav-item m-tabs__item">
				<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_logs" role="tab">
					{%trans 'PERMISOS'%}
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="m_quick_sidebar_tabs_logs" role="tabpanel">
				<div class="m-list-timeline m-scrollable">
					<div class="m-list-timeline__group">
						<div class="m-list-timeline__heading">
							{%trans 'PERMISOS'%}
						</div>
						<div class="m-list-timeline__items">
							{%for permission in request.user.get_all_permissions%}
								<div class="m-list-timeline__item">
									<span class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">
										{{permission.name|upper}}
									</a>
									<span class="m-list-timeline__time" style="font-size:7px">
										{{permission.codename}}
									</span>
								</div>
							{%endfor%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end::Quick Sidebar -->
