{% load static %}
{% load i18n %}
{% load mirari_tags %}

{% block menu_header %}
    {%for key, modules in 'mirari'|get_menu%}
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true" v-if="MENU__{{key}}.length > 0">
            <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                <span class="m-menu__item-here"></span>
                <span class="m-menu__link-text">
                    {{modules.title}}
                </span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:350px">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <div class="m-menu__subnav">
                    <ul class="m-menu__content">
                        <li class="m-menu__item">
                            <h3 class="m-menu__heading m-menu__toggle">
                                <span class="m-menu__link-text">
                                    {{modules.title}}
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </h3>
                            <ul class="m-menu__inner">
                                {%for module in modules.modules%}
                                    {%if not 'html' in module%}
                                        {%if request|has_app:module.apps and request|has_permission:module%}
                                            <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                <a  href="{{module|get_url}}" class="m-menu__link ">
                                                    <i class="m-menu__link-icon {{module.icon}}"></i>
                                                    <span class="m-menu__link-text">
                                                        {{module.title|upper}}<br/>
                                                        <small>{{module.text}}</small>
                                                    </span>
                                                </a>
                                            </li>
                                        {%endif%}
                                    {%endif%}
                                {%endfor%}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    {%endfor%}
{% endblock menu_header %}