{% load static %} 
{% load i18n %}
{% load mirari_tags %}
{% load INT_tags %}
<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1">
	<a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
		<span class="m-nav__link-icon">
			<span class="m-nav__link-icon-wrapper">
				<i class="flaticon-email-black-circular-button"></i>
			</span>
		</span>
	</a>
	<div class="m-dropdown__wrapper">
		<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
		<div class="m-dropdown__inner">
			<div class="m-dropdown__header m--align-center" style="background: url({%static 'metronic/dist/demo5/assets/app/media/img/misc/notification_bg.jpg'%}); background-size: cover;">
				<span class="m-dropdown__header-title">
					BUZON INTERNO
				</span>
			</div>
			<div class="m-dropdown__body">
				<div class="m-dropdown__content">
					<ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_mailbox" role="tab">
								BUZONES DISPONIBLES
								<span>
									<br />
									<small>Todos los buzones son anónimos, solo los correos marcados como destinatarios pueden ver el contenido</small>
								</span>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="topbar_mailbox" role="tabpanel">
							<div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
								<div class="m-list-timeline m-list-timeline--skin-light">
									<div class="m-list-timeline__items">
										{%for mailbox in request.user|get_user_mailboxes%}
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
												<a href="{{mailbox.url_sendmailbox}}" class="m-list-timeline__text">
													{{mailbox.name}} 
													<br />
													<small style="">{{mailbox.description}}</small>
												</a>
											</div>
										{%empty%}
											<div class="m-list-timeline__item">
												<a class="m-list-timeline__text">
													No hay buzones disponibles
												</a>
											</div>
										{%endfor%}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>
<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1">
	<a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
		<span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
		<span class="m-nav__link-icon">
			<span class="m-nav__link-icon-wrapper">
				<i class="flaticon-alert"></i>
			</span>
		</span>
	</a>
	<div class="m-dropdown__wrapper">
		<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
		<div class="m-dropdown__inner">
			<div class="m-dropdown__header m--align-center" style="background: url({%static 'metronic/dist/demo5/assets/app/media/img/misc/notification_bg.jpg'%}); background-size: cover;">
				<span class="m-dropdown__header-title">
					NOTIFICACIONES
				</span>
			</div>
			<div class="m-dropdown__body">
				<div class="m-dropdown__content">
					<ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
								TODOS LOS CANALES
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
							<div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
								<div class="m-list-timeline m-list-timeline--skin-light">
									<div class="m-list-timeline__items">
										{%for notification in request.user|get_user_notifications%}
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
												<a href="{{notification.url_detail}}" class="m-list-timeline__text {%if not request.user in notification.readed_by.all%}m--font-danger{%endif%}">
													{{notification}} 
												</a>
												<span class="m-list-timeline__time">
													{%if notification.files%}<small><i class="fa fa-save" style="font-size:10px;"></i></small>{%endif%}
													{{notification.creation_date|date:"SHORT_DATE_FORMAT"}}
												</span>
											</div>
										{%empty%}
											<div class="m-list-timeline__item">
												<a class="m-list-timeline__text">
													No tienes notificaciones
												</a>
											</div>
										{%endfor%}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>

