{% load static %}
{% load i18n %}
<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
	<a href="#" class="m-nav__link m-dropdown__toggle">
		<span class="m-topbar__welcome">
			{%trans 'Hola'%},&nbsp;
		</span>
		<span class="m-topbar__username">
			{{request.user.visible_username}}
		</span>
		<span class="m-topbar__userpic">
			<img src="{%static 'mirari/img/user.jpg'%}" class="m--img-rounded m--marginless m--img-centered" alt=""/>
		</span>
	</a>
	<div class="m-dropdown__wrapper">
		<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
		<div class="m-dropdown__inner">
			<div class="m-dropdown__header m--align-center" style="background: url({%static 'metronic/demo5/assets/app/media/img/misc/user_profile_bg.jpg'%}); background-size: cover;">
				<div class="m-card-user m-card-user--skin-dark">
					<div class="m-card-user__pic">
						<img src="{%static 'mirari/img/user.jpg'%}" class="m--img-rounded m--marginless" alt=""/>
					</div>
					<div class="m-card-user__details">
						<span class="m-card-user__name m--font-weight-500 m-font-size-sm2">
							{{request.user.visible_username}}
						</span>
						<a href="" class="m-card-user__email m--font-weight-300 m-link">
							<small class="m-font-size-sm5">{{request.user.email}}</small>
						</a>
					</div>
				</div>
			</div>
			<div class="m-dropdown__body">
				<div class="m-dropdown__content">
					<ul class="m-nav m-nav--skin-light">
						<li class="m-nav__separator m-nav__separator--fit"></li>
                        {%if request.user.can_change_password%}
                            <li class="m-nav__item">
                                <a href="{{request.user.url_password}}" class="m-nav__link">
                                    <i class="m-nav__link-icon la la-key"></i>
                                    <span class="m-nav__link-text">
                                        {%trans 'CAMBIAR MI CONTRASEÑA'%}
                                    </span>
                                </a>
                            </li>
                        {%endif%}
						<li class="m-nav__separator m-nav__separator--fit"></li>
						<li class="m-nav__item">
							<a href="{%url 'mirari:logout__Organization__TemplateView'%}" class="btn m-btn--pill btn-danger m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
								{%trans 'SALIR'%}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</li>
