{% extends "metronic/layout-5.html" %}
{% load static %}
{% load i18n %}

{%block subheader%}
    <div class="kt-subheader__main">
        <div class="kt-subheader__breadcrumbs">
            <a href="/" class="kt-subheader__breadcrumbs-link">
                INICIO 
            </a>
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
		<div class="col-md-5">
			<div class="kt-portlet kt-portlet--tab">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-caption">
						<div class="kt-portlet__head-title">
							<h3 class="kt-portlet__head-text">
								{{object}}
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
                    <form id="form" method="post" enctype="multipart/form-data" class="kt-form kt-forkt--label-align-right" v-on:submit.prevent="unblock_siebel(siebel)">{% csrf_token %}
                        <div class="kt-portlet__body">
                            <div class="kt-form__content">
                                <div class="form-group">
                                    <label for="unblock_number" class="form-control-label">
                                        Ingresa el número de solicitud
                                    </label>
                                    <input type="text" class="form-control" id="unblock_number" placeholder="Número de solicitud" v-model="siebel.unblock_number">
                                </div>
                            </div>
                            <div class="kt-portlet__foot kt-portlet__foot--fit kt--margin-top-40">
                                <div class="kt-form__actions">
                                    <button type="submit" class="btn btn-primary kt--margin-right-15" name="save">
                                        Desbloquear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
				<!--end::Form-->
			</div>
		</div>
	</div>
{%endblock content%}

{%block data%} 
    {{block.super}}
	siebel: {
		unblock_number: '',
	},
{%endblock data%}

{%block methods%}
    {{block.super}}
	unblock_siebel: function (siebel) {
		Block();
		if (siebel.unblock_number){
			data = {
				unblock_number
			}
			Ax('post', '{%url "CRYE:SiebelUnblock__SiebelUnblock__TemplateView"%}?api=unblock_siebel', siebel, errorDialog=true, timeout=0).then(function(json){
				if (json.data.message){
					self.siebel.unblock_number = ''
					swal.fire('Exito!', json.data.message, 'success')
				}
				else swal.fire('Error!', json.data.message, 'error') 
				UnBlock();
			})
		}
		else {
			UnBlock();
			swal.fire('Error!', 'Revisa el número de tu consulta', 'error')
		}
	},
{%endblock methods%}
