{% extends "metronic/layout-5.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}ID: {{object.obligacion}}{% endblock title %}

{%block subheader%}
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
					<small>ID <strong>{{object.obligacion}}</strong>, <small>{{object.nombre}}</small></small> 
				</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="/" class="m-nav__link m-nav__link--icon">
                            <strong> <i class="la la-home"></i> INICIO</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
		<div class="col-md-12">
			<div class="m-portlet m-portlet--tab">
                <div class="m-portlet__body px-0 py-0">
                    <table class="table table-striped m-table table-sm m-table--head-bg-brand table-hover" id="m_table_1">
                        <thead class="thead-inverse">
                            <tr>
                                <th title="numeroPago" data-field="numeroPago">#</th>
                                <th title="date" data-field="date">Fecha</th>
                                <th title="estatus" data-field="estatus">Estatus</th>
                                <th title="balanceInsoluto" data-field="balanceInsoluto">Insoluto</th>
                                <th title="capital" data-field="capital">Capital</th>
                                <th title="intereses" data-field="intereses">Intereses</th>
                                <th title="renta" data-field="renta">Renta</th>
                                <th title="pagado" data-field="pagado">Pagado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for tablaamortizacion in tablasamortizaciones%}
                                <tr>
                                    <td>{{tablaamortizacion.numeroPago}}</td>
                                    <td>{{tablaamortizacion.date}}</td>
                                    <td class="{%if tablaamortizacion.estatus == 'Facturado'%}m--font-success{%else%}m--font-danger{%endif%}">{{tablaamortizacion.estatus}}</td>
                                    <td>$ {{tablaamortizacion.balanceInsoluto|floatformat:2|intcomma}}</td>
                                    <td>$ {{tablaamortizacion.capital|floatformat:2|intcomma}}</td>
                                    <td>$ {{tablaamortizacion.intereses|floatformat:2|intcomma}}</td>
                                    <td>$ {{tablaamortizacion.renta|floatformat:2|intcomma}}</td>
                                    <td>$ {{tablaamortizacion.pagado|floatformat:2|intcomma}}</td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
	</div>
{%endblock content%}

{%block data%} 
    tablaAmortizacion: {
        number: '',
    },
{%endblock data%}

{%block methods%}
    getTablaAmortizacion: function (tablaAmortizacion) {
		Block();
		if (tablaAmortizacion.number){
			Ax('post', '{{ request.path }}?api=getTablaAmortizacion', tablaAmortizacion).then(function(json){
                console.log(json)
				UnBlock();
			})
		}
		else {
			UnBlock();
			swal('Error!', 'Revisa el número de tu consulta', 'error')
		}
	},
{%endblock methods%}
