{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load CRYE_tags %}

<div class="m-widget4 m-widget4--chart-bottom">
    <div class="m-widget4__item" key="{{module.keys}}">
        <div class="m-widget4__ext">
            <a href="{{module|get_url}}" class="m-widget4__icon m--font-brand">
                <i class="{{module.icon}}"></i>
            </a>
        </div>
        <div class="m-widget4__info">
            <a href="{{module|get_url}}" class="m-widget4__icon m--font-brand">
                <span class="m-widget4__title">
                    {{module.title|upper}}
                </span>
                <br>
                <span class="m-widget4__sub">
                    <small>
                        <strong>
                            {{module.text}}
                        </strong>
                    </small>
                    <br />
                    <small>{{module.subtext}}</small>
                </span>
            </a>
        </div>
    </div>
    <div class="m-widget4__item">
        {{request.user|get_TASAS|safe}}
    </div>
</div>