{% extends "metronic/layout-5.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ model|verbose_name_plural|upper }} :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block styles%}
	{{block.super}} 
	<link href="{%static 'mirari/css/multi-select.css'%}" rel="stylesheet" type="text/css" />
{%endblock styles%}

{%block css%}
	{{block.super}} 
	{%include 'generic/includes/create-update/selectmultiple.html'%}
	{%if 'small_form' in model.VARS.FORM_CLASS%}
		{%include 'generic/includes/create-update/small_form.html'%}
	{%endif%}
{%endblock css%}

{%block subheader%}
    <div class="m-subheader m--padding-top-5">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="/" class="m-nav__link m-nav__link--icon">
                            <strong> <i class="la la-home"></i> PANEL DE INICIO</strong>
                        </a>
                    </li>
					{%if breadcrumbs%}
						{{breadcrumbs|safe}}
					{%else%}
						<li class="m-nav__separator">
							<strong>></strong>
						</li>
						<li class="m-nav__item m-nav__item--home">
							{%if redirect_model%}
								<a href="{{redirect_model.url_list}}" class="m-nav__link m-nav__link--icon">
									Lista de {{ redirect_model|verbose_name_plural|upper }}
								</a>
							{%else%}
								<a href="{{model.url_list}}" class="m-nav__link m-nav__link--icon">
									Lista de {{ model|verbose_name_plural|upper }}
								</a>
							{%endif%}
						</li>
						<li class="m-nav__separator">
							<strong>></strong>
						</li>
						<li class="m-nav__item">
							<a class="m-nav__link">
								<span class="m-nav__link-text h6">
									{%if not object%}
										<small>CREAR</small> 
										<span>{{ model|verbose_name_singular|upper }}</span>
									{%else%}
										<small>EDITAR</small> 
										<strong>{{object}}</strong>
									{%endif%}
								</span>
							</a>
						</li>
					{%endif%}
                </ul>
            </div>
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
		<div class="col-md-12">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								{%if not object%}
									<small> CREAR </small> &nbsp;{{ model|verbose_name_singular|upper }}
								{%else%}
									<small> EDITAR </small> &nbsp;{{ object|upper }}
								{%endif%}
							</h3>
						</div>
					</div>
				</div>
				<div class="m-form__content">
					{%for message in messages%}
					<div class="m-alert m-alert--icon alert alert-{{message.tags}}" role="{{message.tags}}">
						<div class="m-alert__icon">
							{%if message.tags == 'info'%}
							<i class="la la-warning"></i>
							{%elif message.tags == 'success'%}
							<i class="la la-check"></i>
							{%elif message.tags == 'warning'%}
							<i class="la la-warning"></i>
							{%elif message.tags == 'error'%}
							<i class="la la-times"></i>
							{%endif%}
						</div>
						<div class="m-alert__text">
							{{message}}
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-close="alert" aria-label="Close"></button>
						</div>
					</div>
					{%endfor%}
					<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="form_msg">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							Hay algúnos errores en tu formulario, corrigelos para poder continuar!
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-close="alert" aria-label="Close"></button>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				{% crispy form %}
			</div>
		</div>
	</div>
{%endblock content%}

{%block js%}
	{{block.super}} 
	<script src="{%static 'mirari/js/jquery.multi-select.js'%}" type="text/javascript"></script>
	<script src="{%static 'mirari/js/quicksearch.js'%}" type="text/javascript"></script>
{%endblock js%}

{%block mounted%}
	$('[name="color"]').attr('type','color');

	{%block select2%}
		{%include 'generic/includes/create-update/select.js'%}
	{%endblock select2%}

	{%block extraselect2%}
	{%endblock extraselect2%}

	{%include 'generic/includes/create-update/datepicker.js'%}
	{%include 'generic/includes/create-update/validate.js'%}

	{%if 'SUMMERNOTE' in model.VARS%}
		{%include 'generic/includes/create-update/summernote.js'%}
	{%endif%}
	
{%endblock mounted%}