{% extends "metronic/layout-5.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ model|verbose_name_plural|upper }} :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block styles%}
    {{block.super}} 
    <link href="{%static 'mirari/css/multi-select.css'%}" rel="stylesheet" type="text/css" />
{%endblock styles%}

{%block css%}
    {{block.super}} 
    {%if 'small_form' in model.VARS.FORM_CLASS%}
        {%include 'generic/includes/create-update/small_form.css'%}
    {%endif%}
{%endblock css%}

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator">
            {%if not object%}
                <small>CREAR</small> 
                <strong>{{ model|verbose_name_singular|upper }}</strong>
            {%else%}
                <small>EDITAR</small> 
                <strong>{{object}}</strong>
            {%endif%} 
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="/" class="kt-subheader__breadcrumbs-link">
                INICIO
            </a>
            {%if breadcrumbs%}
                {{breadcrumbs|safe}}
            {%else%}
                {%if redirect_model%}
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{redirect_model.url_list}}" class="kt-subheader__breadcrumbs-link">
                        Lista de {{ redirect_model|verbose_name_plural|upper }}
                    </a>
                {%else%}
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{model.url_list}}" class="kt-subheader__breadcrumbs-link">
                        Lista de {{ model|verbose_name_plural|upper }}
                    </a>
                {%endif%}
            {%endif%}
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <div class="row">
        <div class="{%if 'FORM_SIZE' in model.VARS%}{{model.VARS.FORM_SIZE}}{%else%}col-xl-12{%endif%}">
            {% crispy form %}
        </div>
    </div>
{%endblock content%}

{%block js%}
    {{block.super}} 
    <script src="{%static 'mirari/js/jquery.multi-select.js'%}" type="text/javascript"></script>
    <script src="{%static 'mirari/js/quicksearch.js'%}" type="text/javascript"></script>
{%endblock js%}

{%block mounted%}
    {{block.super}} 
    $('[name="color"]').attr('type','color');
    {%include 'generic/includes/create-update/select.js'%}
    {%include 'generic/includes/create-update/datepicker.js'%}
    {%include 'generic/includes/create-update/validate.js'%}
    {%if 'SUMMERNOTE' in model.VARS%}
        {%include 'generic/includes/create-update/summernote.js'%}
    {%endif%}
{%endblock mounted%}