{% extends "metronic/layout-5.html" %}
{% load static%}
{% load i18n %}
{% load mirari_tags %}

{% block title %}{{ model|verbose_name_plural|upper }} :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator">
            <strong>{%block object_name%}{{object}}{%endblock object_name%}</strong>
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="/" class="kt-subheader__breadcrumbs-link">
                INICIO
            </a>
            {%if breadcrumbs%}
                {{breadcrumbs|safe}}
            {%else%}
                {%if redirect_model%}
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{redirect_model.url_list}}" class="kt-subheader__breadcrumbs-link">
                        Lista de {{ redirect_model|verbose_name_plural|upper }}
                    </a>
                {%else%}
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{model.url_list}}" class="kt-subheader__breadcrumbs-link">
                        Lista de {{ model|verbose_name_plural|upper }}
                    </a>
                {%endif%}
            {%endif%}
        </div>
    </div>
{%endblock subheader%}


{%block content%}
{%endblock content%}