{% extends "metronic/layout-5.html" %} 
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{% block title %}{%if verbose_name_plural%}{{verbose_name_plural|upper}}{%else%}{{ model|verbose_name_plural|upper }}{%endif%} :: {{ G.ORGANIZATION.TITLE }}{% endblock title %}

{%block styles%}
    <link href="{%static 'metronic/dist/demo5/assets/vendors/custom/datatables/datatables.bundle.css'%}" rel="stylesheet" type="text/css" />
    {{block.super}}
{%endblock styles%}

<style>
    {%block css%}
        {{block.super}}
        div.dataTables_wrapper div.dataTables_paginate ul.pagination {
            justify-content: flex-start;
        }
        div.dataTables_wrapper div.dataTables_filter {
            text-align: left;
        }
        .dataTable td {
            color: #464648!important;
        }
        .a-no{
            text-decoration:none;
            color: inherit!important;
        }
    {%endblock css%}
</style>

{%block subheader%}
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title kt-subheader__title--separator">
            <small>LISTA DE</small> 
			<strong>{%if verbose_name_plural%}{{verbose_name_plural|upper}}{%else%}{{ model|verbose_name_plural|upper }}{%endif%}</strong> 
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="/" class="kt-subheader__breadcrumbs-link">
                INICIO 
            </a>
        </div>
    </div>
{%endblock subheader%}

{%block content%}
    <!-- begin:: Content -->
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body py-0">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    {%block searchForm%}
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            {%block searchInput%}
                            {%if SERCHABLE%}
                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="BUSCAR..." id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            {%endif%}
                            {%endblock searchInput%}
                            <div class="col-md-9 kt-margin-b-20-tablet-and-mobile">
                                <div class="row align-items-center">
                                    {% for item in filters %}
                                        <div class="col-md-{{item.size}} kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-form__group kt-form__group--inline">
                                                <div class="kt-form__label">
                                                    <label></label>
                                                </div>
                                                <div class="kt-form__control">
                                                    <select class="form-control bootstrap-select" id="m_form_{{item.key}}">
                                                        <option value="">
                                                            {{item.label}}
                                                        </option>
                                                        {%for obj in item.options%}
                                                            <option value="{{obj.0}}">
                                                                {{obj.1}}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endblock searchForm%}
                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                        {%block extra_buttonsList%}
                        {%endblock extra_buttonsList%}
                        {%if model.url_add%}
                            {%if 'Can_Create__'|prepend_perm:model.VARS|if_has_perm:request and not 'create' in model.VARS.EXCLUDE_PERMISSIONS%}
                                {%block buttonAdd%}
                                <a href="{{model.url_add}}" class="btn btn-brand btn-elevate btn-icon-sm mb-2">
                                    <i class="la la-plus"></i>
                                    {{ model.add_text.0 }}
                                </a>
                                {%endblock buttonAdd%}
                            {%endif%}
                        {%endif%}
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body pt-0">
            {%if 'Can_Delete__'|prepend_perm:model.VARS|if_has_perm:request and not 'delete' in model.VARS.EXCLUDE_PERMISSIONS%}
                <div class="row align-items-center" v-if="selected_items">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__control">
                                <div class="btn-toolbar" class="align-items-center">
                                    {%if 'Can_Delete__'|prepend_perm:model.VARS|if_has_perm:request%}
                                        <button class="btn btn-sm btn-danger" type="button" id="m_form_delete_rows">
                                            ELIMINAR SELECCIÓN
                                        </button>
                                        <small>
                                            &nbsp;&nbsp;&nbsp;
                                            ${selected_items} elementos marcados
                                        </small>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
            {%block extraActions%}
            {%endblock extraActions%}
            <!--begin: Datatable -->
            <table class="table table-striped table-hover table-checkable" id="kt_table_{{model.VARS.MODEL}}">
                <thead>
                    <tr>
                        {% for field in list%}
                            <th>{{field.title|upper}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
            <!--end: Datatable -->
        </div>
    </div>
    <!-- end:: Content -->
{%endblock content%}

{%block js%}
	{{block.super}}
	<script src="{%static 'metronic/dist/demo5/assets/vendors/custom/datatables/datatables.bundle.js'%}" type="text/javascript"></script>
{%endblock js%}

<script>
{%block data%}
	{{ block.super }}
	selected_items: 0,
{%endblock data%}

{%block methods%}
	{{ block.super }}
	delete_row: function (deleteRow, alerts) {
        Ax('post', deleteRow.attr('delete'), {}, errorDialog=true, timeout=0)
        .then((json) => {
            parent = deleteRow.parents('tr:first')
            parent.addClass('table-danger')
            parent.find('a').removeAttr( "href" )
            parent.find('.kt-checkbox.kt-checkbox--single').remove()
            parent.find('.btn').hide()
			if(alerts){
				swal.fire('Éxito!','Se eliminó correctamente el registro.','success');
			}
        });
	},
{%endblock methods%}

{%block mounted%}
	{{block.super}}
	{%include 'generic/includes/list/datatable.js'%}
	$(document).on("click", ".delete_row", function(event){
        event.preventDefault();
		var deleteRow = $(this)
		swal.fire({
			title: deleteRow.attr('text'),
			text: "Los datos asociados, no se podrán recuperar.",
			type: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Eliminar registro',
			cancelButtonText: 'Cancelar',
		}).then((result) => {
			if(result.value==true){
				self.delete_row(deleteRow, true)
			}
		})
	});
	$(document).on('click', '#m_form_delete_rows', function(event) {
		swal.fire({
			title: "Estas seguro de eliminar estos registros?",
			text: "Los datos asociados, no se podrán recuperar.",
			type: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Eliminar registro',
			cancelButtonText: 'Cancelar',
		}).then((result) => {
			if(result.value==true){
				$.each( $('#kt_table_{{model.VARS.MODEL}}').closest('table').find('.kt-checkable:checked'), function(key, deleteRow){
					self.delete_row($(deleteRow), false);
				});
			}
		});
	})
{%endblock mounted%}
</script>