{% extends "metronic/base.html" %} 
{% load static %}

{%block styles%}
    {{block.super}}
    <link href="{%static 'metronic/dist/assets/plugins/global/plugins.bundle.css'%}" rel="stylesheet" type="text/css" />
    <link href="{%static 'metronic/dist/assets/css/style.bundle.css'%}" rel="stylesheet" type="text/css" />
{%endblock styles%}

{%block js%}
    {{block.super}}
    <script src="{%static 'metronic/dist/assets/plugins/global/plugins.bundle.js'%}" type="text/javascript"></script>
    <script src="{%static 'metronic/dist/assets/js/scripts.bundle.js'%}" type="text/javascript"></script>
{%endblock js%}