{% extends "metronic/base.html" %} 
{% load static %}

{%block styles%}
    {{block.super}}
    <link href="{%static 'metronic/dist/demo5_/assets/vendors/base/vendors.bundle.css'%}" rel="stylesheet" type="text/css" />
    <link href="{%static 'metronic/dist/demo5_/assets/demo/demo5/base/style.bundle.css'%}" rel="stylesheet" type="text/css" />
{%endblock styles%}

{%block js%}
    {{block.super}}
    <script src="{%static 'metronic/dist/demo5_/assets/vendors/base/vendors.bundle.js'%}" type="text/javascript"></script>
    <script src="{%static 'metronic/dist/demo5_/assets/demo/demo5/base/scripts.bundle.js'%}" type="text/javascript"></script>
    <script src="{%static 'metronic/dist/demo5_/assets/app/bundle/app.bundle.js'%}" type="text/javascript"></script>
{%endblock js%}