{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>STREETGRAMMERSMX</title>
    <!--=============== css  ===============-->	
    <link type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/reset.css">
    <link type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/plugins.css">
    <link type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/style.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Social: Google+ / Schema.org  -->
	<meta itemprop="name" content="STREETGRAMMERSMX">
	<meta itemprop="description" content="𝗦𝘁𝗿𝗲𝗲𝘁 𝗣𝗵𝗼𝘁𝗼𝗴𝗿𝗮𝗽𝗵𝘆 𝗖𝗼𝗺𝗺𝘂𝗻𝗶𝘁𝘆">
	<meta itemprop="image" content="{%static HTMLPage.static%}images/logo.png">
    <!-- Social: Google+ / Schema.org  -->
	<link rel="shortcut icon" href="{%static HTMLPage.static%}images/favicon.ico">
</head>
<style>
    .logo-holder a img {
        float: left;
        width: auto;
        height: 130%;
    }
    .port-subtitle-holder {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 60px;
    }
</style>
<body>
    <!--Loader  -->
    <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
    <!--LOader end  -->
    <!--================= main start ================-->
    <div id="main">
        <!--=============== header ===============-->	
        <header>
            <!-- Header inner  -->
            <div class="header-inner">
                <!-- Logo  -->
                <div class="logo-holder">
                    <a href="/"><img src="{%static HTMLPage.static%}images/logo.png" alt=""></a>
                </div>
                <!--Logo end  -->
                <!--Navigation  
                <div class="nav-button-holder">
                    <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                </div>
                <div class="show-share isShare">Share</div>
                <div class="nav-holder">
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="portfolio.html" class="act-link">Portfolio</a></li>
                            <li><a href="about.html">About us </a>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li>
                                <a>Pages</a>
                                <ul>
                                    <li>
                                        <a>Home</a>
                                        <ul>
                                            <li><a href="index.html">Slider</a></li>
                                            <li><a href="index2.html">Slideshow</a></li>
                                            <li><a href="index3.html">Multi Slider</a></li>
                                            <li><a href="index4.html">Video</a></li>
                                            <li><a href="index5.html">horizontal</a></li>
                                            <li><a href="index6.html">Image</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="aboutme.html">About me</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                    <li><a href="contact2.html">Contact 2</a></li>
                                    <li>
                                        <a>Portfolio</a>
                                        <ul>
                                            <li><a href="portfolio.html">horizontal</a></li>
                                            <li><a href="portfolio2.html">Masonry</a></li>
                                            <li><a href="portfolio3.html">Grid 3</a></li>
                                            <li><a href="portfolio4.html">Grid 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Portfolio single</a>
                                        <ul>
                                            <li><a href="portfolio-single.html">Style 1</a></li>
                                            <li><a href="portfolio-single2.html">Style 2</a></li>
                                            <li><a href="portfolio-single3.html">Style 3</a></li>
                                            <li><a href="portfolio-single4.html">Style 4</a></li>
                                            <li><a href="portfolio-single5.html">Style 5</a></li>
                                            <li><a href="portfolio-single6.html">Style 6</a></li>
                                            <li><a href="portfolio-single7.html">Style 7</a></li>
                                            <li><a href="portfolio-single8.html">Style 8</a></li>
                                            <li><a href="portfolio-single9.html">Style 9</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--navigation end -->
            </div>
            <!--Header inner end  -->	
        </header>
        <!--header end -->
        <!--=============== wrapper ===============-->
        <div id="wrapper">
            <!--=============== Conten holder  ===============-->
            <div class="content-holder elem scale-bg2 transition3" >
                <!--=============== Content  ===============-->
                <div class="content full-height">
                    <div class="fixed-title">
                        <a href="https://www.instagram.com/streetgrammersmx/" target="_blank" >
                            <span>STREETGRAMMERSMX</span>
                        </a>
                    </div>
                    <!-- Portfolio counter  -->	
                    <div class="count-folio">
                        <div class="num-album"></div>
                        <div class="all-album"></div>
                    </div>
                    <!--=============== portfolio holder ===============-->
                    <div class="resize-carousel-holder">
                        <div class="p_horizontal_wrap">
                            <div id="portfolio_horizontal_container" v-if="photos">
                                <!-- portfolio item -->
                                <div class="portfolio_item people comercial" v-for="photo in photos">
                                        <img :src="photo.node.display_url" alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <a :href="('https://www.instagram.com/p/' + photo.node.shortcode)" target="_blank">
                                                        <h3 class="mt-5 mb-5"> <i class="fas fa-heart"></i> ${photo.node.edge_liked_by.count} &nbsp;  <i class="fas fa-comment"></i> ${photo.node.edge_media_to_comment.count}</h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <span>${photo.node.edge_media_to_caption.edges[0].node.text|getTitle}</span>
                                            </div>
                                        </div>
                                </div>
                                <!-- portfolio item end -->
                            </div>
                            <!--portfolio_horizontal_container  end-->        
                        </div>
                        <!--p_horizontal_wrap  end-->                    
                    </div>
                </div>
                <!-- Content end  -->  
                <!-- Share container  -->    
                <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
            </div>
            <!-- content holder end -->
        </div>
        <!-- wrapper end -->
        <div class="left-decor"></div>
        <div class="right-decor"></div>
        <!--=============== Footer ===============-->
        <footer>
            <div class="policy-box">
                <span>&#169; STREETGRAMMERSMX 2020 . TODOS LOS DERECHOS RESERVADOS </span> 
                <ul>
                    <li><a href="mailto:contact@streetgrammersmx.com">contact@streetgrammersmx.com</a></li>
                </ul>
            </div>
            <!-- footer social -->
            <div class="footer-social">
                <ul>
                    <li><a href="https://www.facebook.com/streetgrammersmx/" target="_blank" ><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/streetgrammersmx/" target="_blank" ><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <!-- footer social end -->
            <div class="to-top"><i class="fa fa-angle-up"></i></div>
        </footer>
        <!-- footer end -->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript" src="{%static HTMLPage.static%}js/InstagramFeed.min.js"></script>
    <script type="text/javascript" src="{%static HTMLPage.static%}js/jquery.min.js"></script>
    <script type="text/javascript" src="{%static HTMLPage.static%}js/plugins.js"></script>
    <script type="text/javascript" src="{%static HTMLPage.static%}js/scripts.js"></script>
    <script>
        new Vue({
            el: '#wrapper',
            delimiters: ['${', '}'],
            data: {
                photos: 'Hol',
            },
            created:function(){
                new InstagramFeed({
                    'username': 'streetgrammersmx',
                    'display_profile': false,
                    'display_biography': false,
                    'display_gallery': true,
                    'display_igtv': false,
                    'items': 24,
                    'styling': false,
                    'image_size': 640,
                    'get_data': true,
                    'callback': (data) => {
                        this.photos = data.edge_owner_to_timeline_media.edges
                    },
                });
            },
            mounted: function () {
                initOutdoor();
                initparallax();
            },
            filters: {
                getTitle: ((text) => {
                    return text.split("--------------------------------------------------------------------------")[0]
                }),
            }
        });
    </script>
</body>
</html>
