{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="{%static HTMLPage.static%}images/favicon.ico">
    <title>STREETGRAMMERS</title>
    <!--=============== css  ===============-->	
    <link type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/reset.css">
    <link type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/plugins.css">
    <link type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/style.css">
    <link type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/yourstyle.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  <body>
        <!--Loader  -->
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--LOader end  -->
        <!--================= main start ================-->
        <div id="app">
            <!--=============== header ===============-->	
            <header>
                <!-- Header inner  -->
                <div class="header-inner">
                    <!-- Logo  -->
                    <div class="logo-holder">
                        <a href="index.html"><img src="{%static HTMLPage.static%}images/logo.png" alt=""></a>
                    </div>
                    <!--Logo end  -->
                    <!--Navigation  -->
                    <div class="nav-button-holder">
                        <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                    </div>
                    <div class="show-share isShare">Share</div>
                    <div class="nav-holder">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/#/privacy" target="_blank">PRIVACIDAD</a>
                                </li>
                                <li><a href="about.html">About us </a>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li>
                                    <a>Pages</a>
                                    <ul>
                                        <li>
                                            <a>Home</a>
                                            <ul>
                                                <li><a href="index.html">Slider</a></li>
                                                <li><a href="index2.html">Slideshow</a></li>
                                                <li><a href="index3.html">Multi Slider</a></li>
                                                <li><a href="index4.html">Video</a></li>
                                                <li><a href="index5.html">horizontal</a></li>
                                                <li><a href="index6.html">Image</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="aboutme.html">About me</a></li>
                                        <li><a href="blog-single.html">Blog single</a></li>
                                        <li><a href="contact2.html">Contact 2</a></li>
                                        <li>
                                            <a>Portfolio</a>
                                            <ul>
                                                <li><a href="portfolio.html">horizontal</a></li>
                                                <li><a href="portfolio2.html">Masonry</a></li>
                                                <li><a href="portfolio3.html">Grid 3</a></li>
                                                <li><a href="portfolio4.html">Grid 4</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Portfolio single</a>
                                            <ul>
                                                <li><a href="portfolio-single.html">Style 1</a></li>
                                                <li><a href="portfolio-single2.html">Style 2</a></li>
                                                <li><a href="portfolio-single3.html">Style 3</a></li>
                                                <li><a href="portfolio-single4.html">Style 4</a></li>
                                                <li><a href="portfolio-single5.html">Style 5</a></li>
                                                <li><a href="portfolio-single6.html">Style 6</a></li>
                                                <li><a href="portfolio-single7.html">Style 7</a></li>
                                                <li><a href="portfolio-single8.html">Style 8</a></li>
                                                <li><a href="portfolio-single9.html">Style 9</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--navigation end -->
                </div>
                <!--Header inner end  -->	
            </header>
            <!--header end -->
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <!--=============== Conten holder  ===============-->
                <div class="content-holder elem scale-bg2 transition3" v-if="$route.path === '/'">
                    <!--=============== Content  ===============-->
                    <div class="content full-height">
                        <div class="fixed-title"><span>STREETGRAMMERSMX</span></div>
                        <!-- Portfolio counter  -->	
                        <div class="count-folio">
                            <div class="num-album"></div>
                            <div class="all-album"></div>
                        </div>
                        <!-- Portfolio counter end -->	
                        <div class="filter-holder column-filter">
                            <div class="filter-button">Filter <i class="fa fa-long-arrow-down"></i></div>
                            <div class="gallery-filters hid-filter">
                                <a href="#" class="gallery-filter transition2 gallery-filter_active" data-filter="*">All Albums</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".people">People</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".nature">Nature</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".comercial">Comercial</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".travel">Travel</a>
                            </div>
                        </div>
                        <!--=============== portfolio holder ===============-->
                        <div class="resize-carousel-holder">
                            <div class="p_horizontal_wrap">
                                <div id="portfolio_horizontal_container">
                                    <!-- portfolio item -->
                                    <div class="portfolio_item people comercial">
                                        <img  src="{%static HTMLPage.static%}images/bg/22.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Quisque non augue</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Quisque non augue</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item travel nature">
                                        <img  src="{%static HTMLPage.static%}images/bg/47.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Curabitur bibendum</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Curabitur bibendum</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolioitem end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item travel">
                                        <img  src="{%static HTMLPage.static%}images/bg/33.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Adipiscing elit</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Adipiscing elit</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->                             
                                    <!-- portfolio item -->
                                    <div class="portfolio_item nature comercial">
                                        <img  src="{%static HTMLPage.static%}images/bg/19.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Nam sagittis pretium</a></h3>
                                                    <span>Nature</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Nam sagittis pretium</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Nature</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolioitem end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item travel comercial">
                                        <img  src="{%static HTMLPage.static%}images/bg/9.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Nam gravida</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Nam gravida</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item travel comercial">
                                        <img  src="{%static HTMLPage.static%}images/bg/3.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Justo tortor</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Justo tortor</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->                                    
                                    <!-- portfolio item -->
                                    <div class="portfolio_item people nature">
                                        <img  src="{%static HTMLPage.static%}images/bg/26.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Integer euismod</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Integer euismod</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->                            
                                    <!-- portfolio item -->
                                    <div class="portfolio_item travel nature">
                                        <img  src="{%static HTMLPage.static%}images/bg/55.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Donec nulla purus,</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Donec nulla purus</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->                                            
                                    <!-- portfolio item -->
                                    <div class="portfolio_item people nature">
                                        <img  src="{%static HTMLPage.static%}images/bg/17.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Maecenas vitae semper</a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Maecenas vitae semper</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->                                            
                                    <!-- portfolio item -->
                                    <div class="portfolio_item people comercial">
                                        <img  src="{%static HTMLPage.static%}images/bg/21.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                    <span>Travel</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->                                            
                                </div>
                                <!--portfolio_horizontal_container  end-->        
                            </div>
                            <!--p_horizontal_wrap  end-->                    
                        </div>
                    </div>
                    <!-- Content end  -->  
                    <!-- Share container  -->    
                    <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
                </div>
                <!-- content holder end -->
                <div class="content-holder elem scale-bg2 transition3" v-if="$route.path === '/privacy'">
                    <!--=============== Content   ===============-->
                    <div class="content full-height">
                        <div class="fixed-title"><span>STREETGRAMMERSMX</span></div>
                        <!--=============== background  ===============-->
                        <div class="full-height-wrap fixed-wrap">
                            <div class="bg" style="background-image:url({%static HTMLPage.static%}images/bg/51.jpg)"></div>
                            <div class="overlay"></div>
                        </div>
                        <!--background  end  -->	
                        <!--=============== custom-inner ===============-->
                        <div class="custom-inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5"> </div>
                                    <div class="col-md-6">
                                        <h2>PRIVACIDAD</h2>
                                        <div class="separator"></div>
                                        <div class="clearfix"></div>
                                        <p style="font-size: 11px;text-align: justify;line-height: 18px;">
                                            AUTORIZACIÓN DE USO DE DATOS PERSONALES, QUE EN TÉRMINOS DE LA LEY DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE LOS PARTICULARES (LPDPPP) OTORGA “LA PERSONA FÍSICA O MORAL QUE CONSIENTE A DEJAR SU INFORMACIÓN EN CUALQUIER MEDIO ELECTRÓNICO, FISICO, OPTICO, POR SIGNOS INEQUÍVOCOS O CUALQUIER OTRA TECNOLOGÍA” SE LE DENOMINARÁ EN FORMA GENÉRICA “EL TITULAR DE DATOS”.<br style="margin-button:5rem">
                                            El titular de datos autoriza en términos de los artículos 8, 14, 15, 16 y demás de la LPDPPP a STREETGRAMMERSMX a utilizar los datos personales aquí proporcionados por el mismo, para que sean utilizados única exclusivamente para el cumplimiento de nuestro objeto social.<br>
                                            El tratamiento de datos personales podrá abarcar cualesquiera fines que resulten compatibles o análogos a los establecidos en esta autorización, sin que para ello se requiera obtener nuevamente consentimiento del titular de los datos.<br style="margin-button:5rem">
                                            Los Datos serán tratados de conformidad con la LFPDPPP, su Reglamento y demás regulación emitida por las autoridades en la materia. La confidencialidad de los Datos está garantizada y los mismos están protegidos por medidas de seguridad administrativas, técnicas y físicas, para evitar su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida. Únicamente las personas autorizadas tendrán acceso a sus Datos.<br>
                                            Los datos personales que el titular de datos acepta que STREETGRAMMERSMX pueda recopilar son los siguientes: nombre, sexo, correo electrónico.<br>
                                            El titular de datos manifiesta en este acto su conformidad para que STREETGRAMMERSMX pueda utilizar, transferir o compartir sus datos personales con terceros en cualquier momento, en México y/o en el extranjero, siempre y cuando dichos terceros, utilicen los citados datos única y exclusivamente para los fines semejantes al objeto social de STREETGRAMMERSMX y las finalidades a las que el titular de datos sujetó su tratamiento, por lo tanto, los terceros receptores se comprometan a tratar los datos transferidos conforme a la presente autorización de uso de datos personales.<br>
                                            En este sentido STREETGRAMMERSMX se compromete a velar porque se cumplan todos los principios legales de protección en torno a la transferencia de sus datos personales y manifiesta su compromiso para que se respete en todo momento la presente autorización de uso de datos personales.<br>
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- custom-inner end  -->                   
                    </div>
                    <!-- Content end  -->  
                    <!-- Share container  -->    
                    <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
                </div>
                <!-- content holder end -->
            </div>
            <!-- wrapper end -->
            <div class="left-decor"></div>
            <div class="right-decor"></div>
            <!--=============== Footer ===============-->
            <footer>
                <div class="policy-box">
                    <span>&#169; Outdoor 2015 . All rights reserved. </span> 
                    <ul>
                        <li><a href="#">yourmail@domain.com</a></li>
                        <li><a href="#">+7(111)123456789</a></li>
                    </ul>
                </div>
                <!-- footer social -->
                <div class="footer-social">
                    <ul>
                        <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
                <!-- footer social end -->
                <div class="to-top"><i class="fa fa-angle-up"></i></div>
            </footer>
            <!-- footer end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="{%static HTMLPage.static%}js/jquery.min.js"></script>
        <script type="text/javascript" src="{%static HTMLPage.static%}js/plugins.js"></script>
        <script type="text/javascript" src="{%static HTMLPage.static%}js/scripts.js"></script>
        <script src="{%static 'mirari/js/vue.js'%}"></script>
        <script src="{%static 'mirari/js/axios.js'%}"></script>
        <script src="{%static 'mirari/js/qs.js'%}"></script>
        <script src="{%static 'mirari/js/vue-router.js'%}"></script>
        <script type="text/javascript" charset="utf-8">
            const router = new VueRouter({routes:[{ 
                path:'/',component:{template:``}
            }]});
            window.Ax=function(method, url, data={}, errorDialog=true, timeout=0){
                data.csrfmiddlewaretoken = '{{ csrf_token }}' 
                return axios({
                    method: method,
                    url: url,
                    data: Qs.stringify(data),
                    timeout: timeout
                });
            }
            new Vue({
                el: '#app',
                delimiters: ['${', '}'],
                router,
                components: {
                },
                data: {
                },
                created:function(){
                    
                },
                mounted: function () {
                },
                methods: {
                },
                watch: {
                },
                filters: {
                }
            });
        </script>
        <script>
        </script>
    </body>
</html>
