.layout-wrapper.layout-2
    .layout-inner
        app-layout-sidenav
        .layout-container
        app-layout-navbar
        .layout-content
            .router-transitions.container-fluid.flex-grow-1.container-p-y
            router-view
            app-layout-footer
    .layout-overlay(@click='closeSidenav')