extends 'appwork/layout-without-navbar.html'
-load static
-load i18n

block content
    iframe.embed-responsive-item(id="xauusd" src='https://www.forex.com/en/forex-trading/xau-usd' style="position:relative;display:block;width:100%;padding:0;overflow:hidden;height:400px;margin-top:-140px;z-index:100;background-color:whitesmoke;" scrolling="no")
    iframe.embed-responsive-item(id="xauusd" src='https://www.forex.com/en/forex-trading/xag-usd' style="position:relative;display:block;width:100%;padding:0;overflow:hidden;height:400px;margin-top:-140px;z-index:90;background-color:whitesmoke;" scrolling="no")
    iframe.embed-responsive-item(id="xauusd" src='https://www.forex.com/en/forex-trading/usd-mxn/' style="position:relative;display:block;width:100%;padding:0;overflow:hidden;height:400px;margin-top:-140px;z-index:80;background-color:whitesmoke;" scrolling="no")

block js

script.
    {%block data%}
        {{block.super}}
    {%endblock data%}

    {%block mounted%}
        {{block.super}}
        //var framexauusd = document.getElementById('xauusd');
        //var framexagusd = document.getElementById('xagusd');
        //framexauusd.onload = function () {
            //framexauusd.contentWindow.scrollTo(0,200);
        //}
        //framexagusd.onload = function () {
            //framexagusd.contentWindow.scrollTo(0,200);
        //}
    {%endblock mounted%}
.