{% load staticfiles i18n %}
{% load user_agents %}
<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js pt" lang="es"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mirari :: Software Estudio</title>
	<meta name="description" content="Somos MIRARI, un estudio de software enfocado en la creación de proyectos digitales, desarrollamos aplicaciones web y móviles.">
	<link rel="canonical" href="http://mirari.xyz/" />
	<meta http-equiv="cache-control" content="public" />
	<meta http-equiv="Pragma" content="public">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css' data-noprefix>
	<link rel="alternate" hreflang="es" href="http://mirari.xyz/" />
	<!-- Social: Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@MirariXYZ">
	<meta name="twitter:title" content="Mirari :: Software Estudio">
	<meta name="twitter:description" content="Somos MIRARI, un estudio de software enfocado en la creación de proyectos digitales, desarrollamos aplicaciones web y móviles.">
	<meta name="twitter:image:src" content="{%static HTMLPage.static%}img/garden-estudio.jpg">
	<!-- Social: Facebook / Open Graph -->
	<meta property="fb:admins" content="1254722295">
	<meta property="og:url" content="http://mirari.xyz/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Mirari :: Software Estudio">
	<meta property="og:image" content="{%static HTMLPage.static%}img/garden-estudio.jpg"/>
	<meta property="og:description" content="Somos MIRARI, un estudio de software enfocado en la creación de proyectos digitales, desarrollamos aplicaciones web y móviles.">
	<meta property="og:site_name" content="mirari.xyz">
	<!-- Social: Google+ / Schema.org  -->
	<meta itemprop="name" content="Mirari :: Software Estudio">
	<meta itemprop="description" content="Somos MIRARI, un estudio de software enfocado en la creación de proyectos digitales, desarrollamos aplicaciones web y móviles.">
	<meta itemprop="image" content="{%static HTMLPage.static%}img/garden-estudio.jpg">
	<link media="all" type="text/css" rel="stylesheet" href="{%static HTMLPage.static%}css/main.css">
	<link rel="icon" href="{%static HTMLPage.static%}img/ico.png">
	<script src="{%static HTMLPage.static%}js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<style>
	.menu { position: fixed; bottom: 0; left: 0; right: 0; height: 70px; line-height: 70px; background: #324560; color: #ffffde; font-weight: 500; z-index: 999; border-bottom: 2px solid #32455f; font-size: 22px; }
	h1 {
		color: #d9a643;
	}
	h2 {
		color: #d9a643;
	}
	.servico-title {
		color: #d9a643;
	}
	.endereco, .copyright {
		color: #d9a643;
	}
	.contato {
		padding-top: 0px;
	}
	.portfolio {
		padding-bottom: 1px;
		padding-top: 0px;
	}
	@media (max-width: 550px){
		.content {
			background: #314460;
		}
		.contato h1 {
			font-size: 50px;
		}
	}
	
</style>
<body>
<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="menu">
	<ul class="menu-items">
		<li class="menu-item menu-link"><a href="#o-estudio">ESTUDIO</a></li>
		<li class="menu-separator menu-item">•</li>
		<li class="menu-item menu-link"><a href="#portfolio">PORTAFOLIO</a></li>
		<li class="menu-separator menu-item">•</li>
		<li class="menu-item menu-link"><a href="#contato">CONTACTO</a></li>
	</ul>
</div>
<div class="viewport" data-0="transform:translate3d(0,0px,0)">
    <div class="parallax garden" id="home">
        <div class="layers" data-parallax-strength="0.6">
			<div data-src="{%static HTMLPage.static%}img/parallax/13-ceu.png" class="layer" data-y="-23" data-parallax="0.0" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/12-sol.png" class="layer" data-x="381" data-y="333" data-parallax="-0.15" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/logo.png" class="layer" data-x="250" data-y="183" data-parallax="0.25" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/11-montes.png" class="layer" data-x="151" data-y="348" data-parallax="0.044" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/10-montes.png" class="layer" data-x="83" data-y="336" data-parallax="0.0696" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/9-montes.png" class="layer" data-x="103" data-y="339" data-parallax="0.1548" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/8-montes.png" class="layer" data-x="94" data-y="339" data-parallax="0.2032" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/7-montes.png" class="layer" data-x="228" data-y="347" data-parallax="0.2664" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/6-arvores.png" class="layer" data-x="206" data-y="351" data-parallax="0.354" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/5-arvores.png" class="layer" data-x="186" data-y="352" data-parallax="0.4168" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/4-lago.png" class="layer" data-x="295" data-y="377" data-parallax="0.478" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/3-pedra.png" class="layer" data-x="403" data-y="375" data-parallax="0.62" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/2-arvore-dir.png" class="layer" data-parallax="0.8" data-x="342" data-y="-17" data-required="true"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/1-arvore-esq.png" class="layer" data-parallax="1" data-y="-18" data-required="true"></div>
		</div>
		<div class="garden-mobile-cover"></div>            
	</div>
    <div class="content quem-somos" id="o-estudio" style="background: #314460;">
        <h1 class="quem-somos-title">ESTUDIO</h1>
		<div class="hr">
			<div class="line  line-left draw"></div>
			<div class="inline-svg draw " data-width="79" data-height="27" data-src="{%static HTMLPage.static%}img/ornamento-small.svg"></div>
			<div class="line  line-right draw"></div>
		</div>
		<div class="quem-somos-text">
			<p>
				Somos MIRARI, un estudio de software enfocado en la creación de proyectos digitales, desarrollamos aplicaciones web y móviles,
				usamos todos nuestros conocimientos para ayudar a nuestros clientes a construir sus marcas a través de la tecnología.
			</p>
		</div>
		<div class="hr">
			<div class="line  line-left draw"></div>
			<div class="inline-svg draw " data-width="79" data-height="27" data-src="{%static HTMLPage.static%}img/ornamento-small.svg"></div>
			<div class="line  line-right draw"></div>
		</div>
		<h2 class="servicos-title"> 
			<div class="inline-svg draw ornament-left" data-src="{%static HTMLPage.static%}img/ornamento.svg"></div> 
				Que Hacemos
			<div class="inline-svg draw ornament-right" data-src="{%static HTMLPage.static%}img/ornamento.svg"></div>
		</h2>
		<ul class="servicos-items">
			<li class="servicos-item">
				<div class="servico-icon">
					<div class="inline-svg draw" data-src="{%static HTMLPage.static%}img/servicos/personalizado.svg" data-width="361" data-height="272"></div>
				</div>
				<div class="servico-content">
					<div class="servico-title">Sitios Personalizados</div>
					<div class="servico-text">
						Creamos sitios web únicos, creamos sus proyectos de acuerdo a las necesidades de nuestros clientes.
					</div>
				</div>
			</li>
			<li class="servicos-item">
				<div class="servico-content">
					<div class="servico-title">Herramientas Administrativas</div>
					<div class="servico-text">
						Aplicaciones Web o Móviles que ayuden a mejorar las operaciones de su negocio. 
					</div>
				</div>
				<div class="servico-icon">
					<div class="inline-svg draw" data-src="{%static HTMLPage.static%}img/servicos/responsivo.svg" data-width="400" data-height="290"></div>
				</div>
			</li>
			<li class="servicos-item">
				<div class="servico-icon">
					<div class="inline-svg draw" data-src="{%static HTMLPage.static%}img/servicos/ecommerce.svg" data-width="435" data-height="267"></div>
				</div>
				<div class="servico-content">
					<div class="servico-title">E-Commerce</div>
					<div class="servico-text">
						Comercio virtual intuitivo y de fácil uso, que ayudará a mejorar sus ventas y crecer su negocio.
					</div>
				</div>
			</li>	
			<li class="servicos-item">
				<div class="servico-content">
					<div class="servico-title">Aplicaciones</div>
					<div class="servico-text">
						Desarrollamos aplicaciones para iOS y Android, Windows, Mac y Linux en tablets, smartphones, o PC's
					</div>
				</div>
				<div class="servico-icon">
					<div class="inline-svg draw" data-src="{%static HTMLPage.static%}img/servicos/app.svg" data-width="396" data-height="305"></div>
				</div>
			</li>
		</ul>            
	</div>
    <div class="parallax soil mobile-hide" data-height="120">
        <div class="layers" data-original-height="175" data-parallax-strength="1">
			<div class="solo-fill"></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/soil.png" class="layer" data-parallax="1" data-x="0" data-y="0" data-only-touch> </div>
			<div data-src="{%static HTMLPage.static%}img/parallax/1-chao.png" class="layer" data-parallax="0.85" data-x="0" data-y="-20" data-no-touch></div>
			<div data-src="{%static HTMLPage.static%}img/parallax/1-chao.png" class="layer" data-parallax="1" data-no-touch></div>
		</div>            
	</div>
    <div class="content portfolio mobile-hide" id="portfolio">
		<h1 class="portfolio-title">PORTAFOLIO</h1>
		<div class="hr">
			<div class="line  line-light  line-left draw"></div>
			<div class="inline-svg draw  ornament-light " data-width="79" data-height="27" data-src="{%static HTMLPage.static%}img/ornamento-small.svg"></div>
			<div class="line  line-light  line-right draw"></div>
		</div>
		<ul class="portfolio-items">
			<li class="portfolio-item " data-url="http://www.finezipo.com" data-v="0" data-480-bottom="@data-v:0" data-center-center="@data-v:1" data--480-top="@data-v:0">
				<a class="portfolio-item-gfx-link" href="http://www.finezipo.com">
					<div class="portfolio-item-gfx">
						<div class="portfolio-item-image">
							<img src="{%static HTMLPage.static%}img/videos/olimoveis.jpg" alt="Olimóveis">
						</div>
						<video loop class="portfolio-item-video" preload="none">
							<source src="{%static HTMLPage.static%}img/videos/finezipo.mp4" type="video/mp4">
						</video>
						<div class="inline-svg portfolio-item-wireframe" data-src="{%static HTMLPage.static%}img/wireframe-portfolio.svg"></div>
					</div>
				</a>
				<div class="portfolio-item-text">
					<div class="portfolio-item-title">
						FINEZIPO	
					</div>
					<div class="portfolio-item-description">
						Management & PR, empresa dedicada a la representación y comercialización artistica, logística, producciones, y booking
					</div>
					<a href="http://www.finezipo.com" class="portfolio-item-button">
						VER SITIO	
					</a>
				</div>	
			</li>
			<li class="portfolio-item " data-url="https://www.rever.co" data-v="0" data-480-bottom="@data-v:0" data-center-center="@data-v:1" data--480-top="@data-v:0">
				<div class="portfolio-item-text">
					<div class="portfolio-item-title">
						REVER	
					</div>
					<div class="portfolio-item-description">
						Empresa dedicada al rastreo motociclistas en rutas previamente programadas
					</div>
					<a href="https://www.rever.co" class="portfolio-item-button">
						VER PROYECTO	
					</a>
				</div>		
				<a class="portfolio-item-gfx-link" href="https://www.rever.co">
					<div class="portfolio-item-gfx">
						<div class="portfolio-item-image">
							<img src="{%static HTMLPage.static%}img/videos/rever.jpg" alt="Panizzon Embalagens">
						</div>
						<video loop class="portfolio-item-video" preload="none">
							<source src="{%static HTMLPage.static%}img/videos/rever.mp4" type="video/mp4">
						</video>
						<div class="inline-svg portfolio-item-wireframe" data-src="{%static HTMLPage.static%}img/wireframe-portfolio.svg"></div>
					</div>
				</a>
			</li>
			<li class="portfolio-item " data-url="http://www.manelykoficial.com" data-v="0" data-480-bottom="@data-v:0" data-center-center="@data-v:1" data--480-top="@data-v:0">
				<a class="portfolio-item-gfx-link" href="http://www.manelykoficial.com">
					<div class="portfolio-item-gfx">
						<div class="portfolio-item-image">
							<img src="{%static HTMLPage.static%}img/videos/1-ano.jpg" alt="1 Ano Garden">
						</div>
						<video loop class="portfolio-item-video" preload="none">
							<source src="{%static HTMLPage.static%}img/videos/manelikoficial.mp4" type="video/mp4">
						</video>
						<div class="inline-svg portfolio-item-wireframe" data-src="{%static HTMLPage.static%}img/wireframe-portfolio.svg"></div>
					</div>
				</a>
				<div class="portfolio-item-text">
					<div class="portfolio-item-title">
						MANELYKOFICIAL
					</div>
					<div class="portfolio-item-description">
						Cantante y conductora se dió a conocer en el reallity show acapulco shore en mexico y super shore europa
					</div>
					<a href="http://www.manelykoficial.com" class="portfolio-item-button">
						VER SITIO
					</a>
				</div>	
			</li>
			<li class="portfolio-item " data-url="http://www.mexicof.com" data-v="0" data-480-bottom="@data-v:0" data-center-center="@data-v:1" data--480-top="@data-v:0">
				<div class="portfolio-item-text">
					<div class="portfolio-item-title">
						MEXICOF	
					</div>
					<div class="portfolio-item-description">
						Sistema de ordenes de servicio para caminadoras y gimnasios que requieren atención y mantenimiento a nivel nacional
					</div>
					<a href="http://www.mexicof.com" class="portfolio-item-button">
						VER PROYECTO	
					</a>
				</div>		
				<a class="portfolio-item-gfx-link" href="http://www.mexicof.com">
					<div class="portfolio-item-gfx">
						<div class="portfolio-item-image">
							<img src="{%static HTMLPage.static%}img/videos/panizzon.jpg" alt="Panizzon Embalagens">
						</div>
						<video loop class="portfolio-item-video" preload="none">
							<source src="{%static HTMLPage.static%}img/videos/mexicof.mp4" type="video/mp4">
						</video>
						<div class="inline-svg portfolio-item-wireframe" data-src="{%static HTMLPage.static%}img/wireframe-portfolio.svg"></div>
					</div>
				</a>
			</li>
			
		</ul>
    </div>
	<div class="parallax cave mobile-hide" data-height="400">
		<div class="layers" data-original-height="471" data-parallax-strength="0.45">
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/fundo.png" class="layer" data-parallax="0.3" data-x="32" data-y="9" data-scale="true" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/cascata-brilho.png" class="layer" data-parallax="-0.4" data-x="385" data-y="100" data-scale="true" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/camada8-atmosfera.png" class="layer" data-parallax="0.5" data-x="100" data-y="0" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/camada6-arvores.png" class="layer" data-parallax="0.1" data-x="38" data-y="201" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/camada5-arvores.png" class="layer" data-parallax="0.23" data-x="6" data-y="213" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/camada4-teto-arvores.png" class="layer" data-parallax="0.37" data-x="0" data-y="35" data-no-touch> <!-- 43 -->
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/camada3-teto-arvores.png"  class="layer" data-parallax="0.55" data-x="0" data-y="35" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/camada2-teto.png" class="layer" data-parallax="0.7" data-x="0" data-y="14" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/parallax-cave/1-teto.png" data-parallax="1" class="layer" data-no-touch>
			</div>
			<div data-src="{%static HTMLPage.static%}img/cave.png" data-parallax="1" class="layer" data-only-touch>
			</div>
		</div>            
	</div>
	<div class="content contato" id="contato">
		<h1 class="contato-title">CONTACTO</h1>
		<div class="contato-chamada">
			Nos encantaría colaborar en sus proyectos
		</div>
		<div class="hr">
			<div class="line  line-left draw"></div>
			<div class="inline-svg draw " data-width="79" data-height="27" data-src="{%static HTMLPage.static%}img/ornamento-small.svg"></div>
			<div class="line  line-right draw"></div>
		</div>
		<div class="inline-svg draw ornament-left ornament-middle" data-src="{%static HTMLPage.static%}img/ornamento.svg"></div>
		<div class="contato-text">
			Envie su email a	
			<div class="contato-highlight">
				<a href="mailto:g@mirari.xyz">g@mirari.xyz</a>
			</div>
			o marque a	
			<div class="contato-highlight">
				Móvil (55) 37232182
			</div>
		</div>
		<div class="inline-svg draw ornament-right ornament-middle" data-src="{%static HTMLPage.static%}img/ornamento.svg"></div>
		<div class="hr">
			<div class="line  line-left draw"></div>
			<div class="inline-svg draw " data-width="79" data-height="27" data-src="{%static HTMLPage.static%}img/ornamento-small.svg"></div>
			<div class="line  line-right draw"></div>
		</div>
		<!--
		<a href="#" class="social-link">
			<img src="{%static HTMLPage.static%}img/social-facebook.svg" alt="Facebook">
		</a>
		<a href="#" class="social-link">
			<img src="{%static HTMLPage.static%}img/social-twitter.svg" alt="Twitter">
		</a>
		<a href="#" class="social-link">
			<img src="{%static HTMLPage.static%}img/social-behance.svg" alt="Behance">
		</a>
		<div class="endereco">Rio Lerma 333, Cuauhtémoc</div>
		<div class="copyright">06500 Ciudad de México, CDMX</div>
		-->
	</div>
</div>
		
<div class="cover"></div>
<div class="preloader-container">
    <div class="preloader-logo">
    </div>
    <div class="preloader">
        <div class="preloader-ball"></div>
        <div class="preloader-ball"></div>
        <div class="preloader-ball"></div>
        <div class="preloader-ball"></div>
        <div class="preloader-ball"></div>
        <div class="preloader-ball"></div>
        <div class="preloader-ball"></div>
        <div class="preloader-ball"></div>
    </div>
</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{%static HTMLPage.static%}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="{%static HTMLPage.static%}js/vendor/jquery.transit.min.js"></script>
        <script src="{%static HTMLPage.static%}js/vendor/prefixfree.min.js"></script>
        <script src="{%static HTMLPage.static%}js/vendor/skrollr.min.js"></script>
        <script src="{%static HTMLPage.static%}js/vendor/snap.svg-min.js"></script>
        <script src="{%static HTMLPage.static%}js/vendor/inline-svg.js"></script>
        <script src="{%static HTMLPage.static%}js/main.js"></script>
    </body>
</html>
