{% load static %}
<!DOCTYPE html>
<html lang="eS">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Creamos para l">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
	<title>{{VAR.VAR_LOCAL.PAGES.TITLE}} :: {{VAR.VAR_LOCAL.PAGES.SLOGAN}}</title>
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700%7COpen+Sans:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/vendor/strokegap/style.css">
	<link rel="stylesheet" href="{{VAR.VAR_GLOBAL.FONT_AWESOME}}">
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/vendor/bootstrap/dist/css/bootstrap.min.css">  
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/vendor/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/vendor/fancybox/dist/jquery.fancybox.min.css">
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/vendor/animate.css/animate.min.css">
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/css/bundle.css">
	<link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/css/style.css">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
	<meta property="fb:app_id" content="" /> 
	<meta property="og:type"   content="product" /> 
	<meta property="og:url"    content="{{VAR.VAR_LOCAL.PAGES.DOMAIN}}" /> 
	<meta property="og:title"  content="{{VAR.VAR_LOCAL.PAGES.TITLE}}" /> 
	<meta property="og:image"  content="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}{{VAR.VAR_LOCAL.PAGES.IMAGE}}" /> 
	<style>
		.logo{
			max-width: 100px;
		}
		.padding-0{
			padding-top: 0px;
			padding-bottom: 0px;
		}
		.padding-8rem{
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
		.bg-blue-opacity {
		    background: rgba(52, 115, 226, 0.73) !important;
		}
		.color-w{
			color:#fff;
		}
		.mt-1rem{
			margin-top:1rem;
		}
		.mb-2rem{
			margin-bottom:1rem!important;
		}
		.mh-88vh{
			min-height: 90vh;
		}
		.p-secction{
			padding-top: 10vh;
	    	padding-bottom: 150px;
		}
	</style>
</head>
<body id="top">
<header class="header header-shadow header-shrink sticky-top bg-gray-v2">
	<div class="container">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="/">
				<img class="logo" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/logo-inverse.png" alt="">
			</a>
			<button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
			  <div class="hamburger hamburger--spin js-hamburger">
					<div class="hamburger-box">
					  <div class="hamburger-inner"></div>
					</div>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#" data-scrollto="servicios">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" data-scrollto="portafolio">Portafolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" data-scrollto="equipo">Equipo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" data-scrollto="contacto">Contacto</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<section class="u-py-md-250 u-flex-center mh-88vh p-secction" style="background:#ECF5FE url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/startup/hero-banner.png) no-repeat; background-size:cover; background-position: top center;">
<div class="container">
	<div class="row align-items-center">
		<div class="col-lg-7 mb-5 mb-lg-0">
			<h1 class="display-4 u-fw-600">
				<span class="text-primary">Creamos Aplicaciones</span> Asombrosas!!
			</h1>
			<p class="u-fs-22 u-lh-1_8 my-4">
				Ayudamos a darle vida a sus ideas, no importa que tan complejas sean sus necesidades
			</p>
			<a href="" class="btn btn btn-rounded btn-primary  u-w-170 u-mt-15">
				Saber Mas
			</a>
		</div>
		<div class="col-lg-5">
			<div class="card box-shadow-v2 bg-white u-of-hidden text-center">
				<h2 class="bg-primary m-0 py-3 text-white">
					Eres Cliente?
				</h2>
				<form action="" method="POST" class="p-4 p-md-5">
					<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
						<div class="input-group-addon bg-white border-0 pl-4 pr-0">
							<span class="icon icon-User text-primary"></span>
						</div>
						<input type="text" class="form-control border-0 p-3" placeholder="Usuario">
					</div>
					<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
						<div class="input-group-addon bg-white border-0 pl-4 pr-0">
							<span class="icon icon-ClosedLock text-primary"></span>
						</div>
						<input type="password" class="form-control border-0 p-3" placeholder="Contraseña">
					</div>
					<button class="btn btn-primary btn-rounded">
						Entrar
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
</section>
<section id="about" class="pb-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 mx-auto">
                <h2 class="h1">
				Desarrollamos Estrategias Digitales<br /> Para Tus Productos O Servicios.
			</h2>
                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mx-auto mb-2rem"></div>
                <p>
                    Creamos identidades para nuestros clientes, diseñamos páginas que enamoran, implementamos sus ideas de proyecto, hacemos aplicaciones que lo harán decir... Wooow!!
                    <br />
                    <br />
                    <small class="mt-1rem">También sabemos una o dos cosas sobre branding, marketing y adquisición de personal</small>
                </p>
                <a href="" class="btn btn-primary btn-rounded mt-4">Contactanos</a>
            </div>
            <div class="col-12 u-mt-70 text-center">
                <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/startup/s-1.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-v2 u-pb-80">  
	 <div class="container">
	    <div class="row">
	        <div class="col-lg-4 col-md-6 u-mb-70">
	            <div class="media">
	                <span class="icon icon-Briefcase text-primary u-fs-50 mr-4"></span>
	                <div class="media-body">
	                    <h4>
							Digital Branding
						</h4>
	                    <p>
	                        Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 u-mb-70">
	            <div class="media">
	                <span class="icon icon-Web text-primary u-fs-50 mr-4"></span>
	                <div class="media-body">
	                    <h4>
							Web Solutinos
						</h4>
	                    <p>
	                        Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 u-mb-70">
	            <div class="media">
	                <span class="icon icon-Dollars text-primary u-fs-50 mr-4"></span>
	                <div class="media-body">
	                    <h4>
							Financial Advice
						</h4>
	                    <p>
	                        Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 u-mb-70">
	            <div class="media">
	                <span class="icon icon-Headset text-primary u-fs-50 mr-4"></span>
	                <div class="media-body">
	                    <h4>
							Dedicated Support
						</h4>
	                    <p>
	                        Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 u-mb-70">
	            <div class="media">
	                <span class="icon icon-Resume text-primary u-fs-50 mr-4"></span>
	                <div class="media-body">
	                    <h4>
							Business Consulting
						</h4>
	                    <p>
	                        Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-6 u-mb-70">
	            <div class="media">
	                <span class="icon icon-Starship2 text-primary u-fs-50 mr-4"></span>
	                <div class="media-body">
	                    <h4>
							Progress Across Projects
						</h4>
	                    <p>
	                        Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>
{%comment%}
	<section data-init="parallax" style="background:url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/bg.jpg) no-repeat fixed; background-size:cover; background-position: center center;" class="padding-8rem">
	    <div class="overlay bg-blue-opacity"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-6 m-auto text-center">
	                <h2 class="h1 text-white u-mb-40">
			          	Somos Mas Que Solo Desarrollo
			        </h2>
			        
			        <a href="" data-init="popup-video">
			          	<span class="icon icon-Play u-fs-48 u-fs-md-72 text-white"></span>
			        </a>
			        
	            </div>
	        </div>
	    </div>
	</section>
{%endcomment%}
<section class="u-py-100 u-h-100vh u-flex-center" style="background:url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/app/intro-hero.jpg) no-repeat; background-size: cover; background-position: center center;">
	 <div class="col-12 text-center">
        <h2 class="h1 color-w">
			Portafolio
	 	</h2>
        <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mt-5">
                <h1 class="display-3 u-fw-600 text-white">
          App Landing Page
        </h1>
                <p class="u-fs-22 text-white u-lh-1_7 u-py-40">
                    Stripe is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses
                </p>
                <a href="" class="btn btn btn-rounded btn-yellow u-w-160">
        	Download Now
        </a>
                <a href="" class="btn btn btn-rounded btn-white ml-3 u-w-160">
        	App Features
        </a>
            </div>
            <div class="col-lg-4 ml-auto text-center mt-5">
                <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/app/s-1.png" alt="">
            </div>
        </div>
    </div>
    <div class="u-pos-abs u-bottom-0 u-z-index-minus-1 u-left-0">
        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/app/curve.png" alt="">
    </div>
</section>

<section id="about">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 text-center">
            <img class="wow fadeInLeft" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-1.png" alt="">
        </div>
       
        <div class="col-lg-5 ml-auto">
            <h2 class="h1">
            Everything you Need to Making a Beautiful Presentation.
          </h2>
            <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
            <p class="mb-5">
                Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer possim assum minim veniam quis nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper litterarum formas humanitatis per.
            </p>
            <a href="" class="btn btn btn-rounded btn-yellow px-4">
            <i class="fa fa-apple mr-1"></i>
             App Store
          </a>
            <a href="" class="btn btn btn-rounded btn-primary ml-3 px-4">
            <i class="fa fa-android mr-1"></i> 
            Play Store
          </a>
        </div>
       
    </div>
   
</div>
</section>

<section id="features" class="bg-gray-v1">
  <div class="container">
  
   <div class="row">
     <div class="col-lg-6 m-auto text-center">
       <h2 class="h1">
         Features that Make Your Project Stand Out!
       </h2>
       <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
     </div>
   </div> <!--END row-->
   
   <div class="row mt-5">
    <div class="col-lg-4">
    	<div class="tabs tabs-v1 text-center">
    		<h4 class="u-mb-15 d-inline-block d-lg-block">
					<a href="#tab1" class="bg-white p-4 d-flex rounded box-shadow-v3" data-toggle="tab" role="tab">
						<span class="icon icon-Tools color-primary u-fs-36 mr-lg-3"></span>
						<span class="d-none d-lg-block">Easy to Customize</span>
					</a>
    		</h4>
    		<h4 class="u-mb-15 d-inline-block d-lg-block">
					<a href="#tab2" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
						<span class="icon icon-MessageLeft color-primary u-fs-36 mr-lg-3"></span>
						<span class="d-none d-lg-block">Unlimited Support</span>
					</a>
    		</h4>
    		<h4 class="u-mb-15 d-inline-block d-lg-block">
					<a href="#tab3" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
						<span class="icon icon-Starship2 color-primary u-fs-36 mr-lg-3"></span>
						<span class="d-none d-lg-block">Clean Code</span>
					</a>
    		</h4>
    		<h4 class="u-mb-15 d-inline-block d-lg-block">
					<a href="#tab4" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
						<span class="icon icon-Magnet color-primary u-fs-36 mr-lg-3"></span>
						<span class="d-none d-lg-block">UI Elements</span>
					</a>
    		</h4>
    		<h4 class="u-mb-15 d-inline-block d-lg-block">
					<a href="#tab5" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
						<span class="icon icon-Notebook color-primary u-fs-36 mr-lg-3"></span>
						<span class="d-none d-lg-block">Fully Responsive</span>
					</a>
    		</h4>
    	</div> 
    </div>
    <div class="col-lg-7 ml-auto">
		<div class="tab-content">
			<div class="tab-pane fade show active" id="tab1" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-2.jpg" alt="">
			</div>
			<div class="tab-pane fade" id="tab2" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-3.jpg" alt="">
			</div>
			<div class="tab-pane fade" id="tab3" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-4.jpg" alt="">
			</div>
			<div class="tab-pane fade" id="tab4" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-2.jpg" alt="">
			</div>
			<div class="tab-pane fade" id="tab5" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-3.jpg" alt="">
			</div>
		</div>
    </div>
   </div>
  </div>
</section>

    
        
            
                
                        
<section>
  <div class="container">
   <div class="row">
     <div class="col-lg-5 m-auto text-center">
       <h2 class="h1">
         The Ultimate Solution for Your Web App
       </h2>
       <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
     </div>
   </div> <!--END row-->
   <div class="row">
    <div class="col-lg-7 mr-auto mt-5">
		<div class="tab-content">
			<div class="tab-pane fade show active" id="tab1_1" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-3.jpg" alt="">
			</div>
			<div class="tab-pane fade" id="tab1_2" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-2.jpg" alt="">
			</div>
			<div class="tab-pane fade" id="tab1_3" role="tabpanel">
				<img class="box-shadow-v1" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-3.jpg" alt="">
			</div>
		</div>
    </div>
		<div class="col-lg-4 mt-5">
    	<div class="tabs">
				<a href="#tab1_1" class="u-p-25 d-block rounded box-shadow-v1 active u-mb-15" data-toggle="tab" role="tab">
					<h4>
						Custom Field Support
					</h4>
					<p>
						Nam liber tempor cum soluta nobis eleif end option congue.
					</p>
				</a>
				<a href="#tab1_2" class="u-p-25 d-block rounded u-mb-15" data-toggle="tab" role="tab">
					<h4>
						Lifetime Updates
					</h4>
					<p>
						Nam liber tempor cum soluta nobis eleif end option congue.
					</p>
				</a>
				<a href="#tab1_3" class="u-p-25 d-block rounded u-mb-15" data-toggle="tab" role="tab">
					<h4>
						Easy to Customize
					</h4>
					<p>
						Nam liber tempor cum soluta nobis eleif end option congue.
					</p>
				</a>
    	</div> 
    </div>
   </div>
  </div>
</section>

                                              
<section class="pb-0 padding-0">  
  <div class="container">
   <div class="row">
     <div class="col-lg-8 m-auto text-center">
       <div class="row">
       	<div class="col-md-4 mt-5">
       		<h4 class="u-fs-48 u-fw-400 text-primary mb-0">160+</h4>
       		<p class="u-fs-20 u-ff-dosis">Countries</p>
       	</div>
       	<div class="col-md-4 mt-5">
       		<h4 class="u-fs-48 u-fw-400 text-primary mb-0">70k</h4>
       		<p class="u-fs-20 u-ff-dosis">Paid Users</p>
       	</div>
       	<div class="col-md-4 mt-5">
       		<h4 class="u-fs-48 u-fw-400 text-primary mb-0">98k</h4>
       		<p class="u-fs-20 u-ff-dosis">Active Install</p>
       	</div>
       </div>
     </div>
     <div class="col-12 mt-0">
     	<img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/software/s-6.png" alt="">
     </div>
   </div> <!--END row-->
  </div>
</section>
<section id="team" style="background:#ecf5fd url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/startup/bg-2.png) no-repeat;background-position: center center;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h1">
					Equipo De Trabajo
			 	</h2>
                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <div class="u-pos-rel">
                        <img class="w-100" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/person/1_1.jpg" alt="">
                        <div class="show-onHover u-pos-abs-center u-w-100p">
                            <ul class="list-inline social social-white social-sm mt-4">
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py-4">
                        <h4>
						Gustavo Castellanos
					</h4>
                        <p class="mb-0">
                            CEO & Programador Senior
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <div class="u-pos-rel">
                        <img class="w-100" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/person/2.jpg" alt="">
                        <div class="show-onHover u-pos-abs-center u-w-100p">
                            <ul class="list-inline social social-white social-sm mt-4">
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py-4">
                        <h4>
						Edwin Leyva
					</h4>
                        <p class="mb-0">
                            Director Creativo
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <div class="u-pos-rel">
                        <img class="w-100" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/person/3.jpg" alt="">
                        <div class="show-onHover u-pos-abs-center u-w-100p">
                            <ul class="list-inline social social-white social-sm mt-4">
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py-4">
                        <h4>
						Daniel Ramos
					</h4>
                        <p class="mb-0">
                            Programador & Founder
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <div class="u-pos-rel">
                        <img class="w-100" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/person/3.jpg" alt="">
                        <div class="show-onHover u-pos-abs-center u-w-100p">
                            <ul class="list-inline social social-white social-sm mt-4">
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py-4">
                        <h4>
						Rodolfo Juarez
					</h4>
                        <p class="mb-0">
                            Programador Senior
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container">
		<div class="row text-center">
		
			<div class="col-md-4 mt-5 mt-md-0">
				<span class="icon icon-MessageLeft u-fs-60 text-primary"></span>
				<h3 class="my-4">
					Excellent Support
				</h3>
				<p>
					Nam liber tempor cum soluta nobi eleifend option congue nihil imper per tem por legere eleifend legere me doming.
				</p>
			</div>  
		
			<div class="col-md-4 mt-5 mt-md-0">
				<span class="icon icon-Users u-fs-60 text-primary"></span>
				<h3 class="my-4">
					Awesome Team
				</h3>
				<p>
					Nam liber tempor cum soluta nobi eleifend option congue nihil imper per tem por legere eleifend legere me doming.
				</p>
			</div>  
		
			<div class="col-md-4 mt-5 mt-md-0">
				<span class="icon icon-Dollars u-fs-60 text-primary"></span>
				<h3 class="my-4">
					Affordable Price
				</h3>
				<p>
					Nam liber tempor cum soluta nobi eleifend option congue nihil imper per tem por legere eleifend legere me doming.
				</p>
			</div>  
			
		</div> 
	</div> 
</section>
<section class="u-py-100 bg-gray-v2">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
	 			<p class="d-inline-block u-fs-24 u-fw-600 bg-white text-primary py-3 px-5 u-rounded-50">
	 				Nuestros Clientes
	 			</p>
	 		</div>
	 			<div class="col-6 col-md-3 text-center mt-5">
	 				<div class="box-shadow-v2 bg-white u-flex-center u-h-100p p-4 p-md-5 rounded">
	 					<img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/event/sponsor/2_1.png" alt="">
	 				</div>
	 			</div>
	 			<div class="col-6 col-md-3 text-center mt-5">
	 				<div class="box-shadow-v2 bg-white u-flex-center u-h-100p p-4 p-md-5 rounded">
	 					<img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/event/sponsor/2_2.png" alt="">
	 				</div>
	 			</div>
	 			<div class="col-6 col-md-3 text-center mt-5">
	 				<div class="box-shadow-v2 bg-white u-flex-center u-h-100p p-4 p-md-5 rounded">
	 					<img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/event/sponsor/2_3.png" alt="">
	 				</div>
	 			</div>
	 			<div class="col-6 col-md-3 text-center mt-5">
	 				<div class="box-shadow-v2 bg-white u-flex-center u-h-100p p-4 p-md-5 rounded">
	 					<img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/event/sponsor/2_4.png" alt="">
	 				</div>
	 			</div>
	 		</div>
		</div> 
	</div> 
</section>

<section class="mt-0 mb-0 padding-0">
	<div id="map" style="width: 100%; height: 500px"></div> 
</section>
	  
<footer style="background:url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/app/footer.jpg) no-repeat; background-size: cover; background-position: center center;">
	<div class="container">
	
		<div class="row">
		
			<div class="col-12">
				<div class="bg-white box-shadow-v1 rounded p-5">
					<h2 class="h1 text-center">
						Subscribe to Our Newsletter
					</h2>
					<form class="form-inline justify-content-center my-5 subsribe-rounded">
						<div class="form-group">
							<input type="email" class="form-control px-4 u-rounded-50 u-h-55" placeholder="Enter your email address">
						</div>
						<button type="submit" class="btn btn-rounded btn-primary u-h-55">
							Subscribe Now
						</button>
					</form>
				</div>
			</div>
			
			<div class="col-12 text-center u-py-60"> 
				<img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/img/logo-default.png" alt="" class="logo">
				<ul class="list-inline social social-rounded mt-4">
					<li class="list-inline-item">
						<a href=""><i class="fa fa-facebook"></i></a>
					</li>
					<li class="list-inline-item">
						<a href=""><i class="fa fa-twitter"></i></a>
					</li>
				</ul>
			</div>
			
		</div>
		
		
		<div class="row align-items-center" style="border-top:1px solid #339aff;color:#a9d5ff;">
			<div class="col-lg-6 py-4 text-center text-lg-left">
				<span>© Mirari {% now "Y" %}
			</div>
			<div class="col-lg-6 py-4">
				<ul class="list-inline footer-nav u-ff-dosis text-center text-lg-right">
					<li class="list-inline-item">
						<a class="text-uppercase u-fw-600 p-2" href="">Servicios</a>
					</li>
					<li class="list-inline-item">
						<a class="text-uppercase u-fw-600 p-2" href="">Portafolio</a>
					</li>
					<li class="list-inline-item">
						<a class="text-uppercase u-fw-600 p-2" href="">Equipo</a>
					</li>
					<li class="list-inline-item">
						<a class="text-uppercase u-fw-600 p-2" href="">Contacto</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
	<div class="scroll-top bg-white box-shadow-v1">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div> 
	<script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/js/bundle.js"></script>
	<script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}assets/js/fury.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyB0uuKeEkPfAo7EUINYPQs3bzXn7AabgJI"></script>
	<script>
		(function($) {
	        function initMap() {
	            var myLatlng = new google.maps.LatLng(19.4255024,-99.1732938);
	            var mapOptions = {
			        zoom: 14,
			        center: myLatlng,
			        mapTypeId: 'roadmap',
			        zoomControl: false,
			        scrollwheel: false,
			        styles: [
					    {
					        "featureType": "administrative",
					        "elementType": "all",
					        "stylers": [
					            {
					                "visibility": "on"
					            },
					            {
					                "lightness": 33
					            }
					        ]
					    },
					    {
					        "featureType": "administrative.province",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "simplified"
					            }
					        ]
					    },
					    {
					        "featureType": "administrative.locality",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "simplified"
					            },
					            {
					                "color": "#525252"
					            },
					            {
					                "saturation": "-74"
					            },
					            {
					                "lightness": "-30"
					            }
					        ]
					    },
					    {
					        "featureType": "administrative.locality",
					        "elementType": "labels.text.fill",
					        "stylers": [
					            {
					                "color": "#343434"
					            }
					        ]
					    },
					    {
					        "featureType": "administrative.neighborhood",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "administrative.neighborhood",
					        "elementType": "labels.text.fill",
					        "stylers": [
					            {
					                "color": "#757575"
					            }
					        ]
					    },
					    {
					        "featureType": "administrative.land_parcel",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape",
					        "elementType": "all",
					        "stylers": [
					            {
					                "color": "#efefef"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape.man_made",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape.natural",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape.natural.landcover",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape.natural.terrain",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "poi",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "poi.attraction",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "poi.business",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "poi.park",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "color": "#e3eed3"
					            }
					        ]
					    },
					    {
					        "featureType": "poi.park",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "poi.park",
					        "elementType": "labels",
					        "stylers": [
					            {
					                "visibility": "on"
					            },
					            {
					                "lightness": 20
					            }
					        ]
					    },
					    {
					        "featureType": "poi.park",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "poi.school",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "poi.sports_complex",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "road",
					        "elementType": "all",
					        "stylers": [
					            {
					                "lightness": 20
					            }
					        ]
					    },
					    {
					        "featureType": "road",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "color": "#83a5b0"
					            },
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            },
					            {
					                "color": "#77a2a6"
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway",
					        "elementType": "geometry.stroke",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "simplified"
					            },
					            {
					                "color": "#ff0000"
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway",
					        "elementType": "labels.text.fill",
					        "stylers": [
					            {
					                "color": "#434343"
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway.controlled_access",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway.controlled_access",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            },
					            {
					                "color": "#77a2a6"
					            }
					        ]
					    },
					    {
					        "featureType": "road.arterial",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "color": "#bdcdd3"
					            }
					        ]
					    },
					    {
					        "featureType": "road.arterial",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            },
					            {
					                "color": "#bdc0c1"
					            }
					        ]
					    },
					    {
					        "featureType": "road.local",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "color": "#ffffff"
					            }
					        ]
					    },
					    {
					        "featureType": "road.local",
					        "elementType": "geometry.fill",
					        "stylers": [
					            {
					                "visibility": "on"
					            },
					            {
					                "weight": "0.50"
					            }
					        ]
					    },
					    {
					        "featureType": "road.local",
					        "elementType": "geometry.stroke",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "road.local",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "on"
					            }
					        ]
					    },
					    {
					        "featureType": "water",
					        "elementType": "all",
					        "stylers": [
					            {
					                "visibility": "on"
					            },
					            {
					                "color": "#b5cbe4"
					            }
					        ]
					    }
					]
	        };
	        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
	        var marker = new google.maps.Marker({
	            position: mapOptions.center,
	            icon: 'assets/img/map-marker.png',
	            map: map
	        });
	    }
	    initMap();
	}(jQuery));
</script>
</body>	
</html>