extends "appwork/layout-without-navbar.html"
-load static
-load i18n
-load mirari_tags

block theme

block content
    form(v-on:submit.prevent='onSubmit(BarCode)')
        .form-group
            input#idBarCode.form-control(type='text', v-model='BarCode', autofocus='autofocus')
        button.btn.btn-default(type='submit') {{code}}
    pre {{ticket.stampTicket| pprint}}
block js

script.
    {%block constants%}
        const PublicSocket = io.connect('ws://50.18.229.242:8002',{'forceNew':true});
        var PrivateSocket = null
    {%endblock constants%}

    {%block data%}
        BarCode: '',
    {%endblock data%}

    {%block mounted%}
        PublicSocket.emit('room', '{{code}}');
        setInterval(function(){
            document.getElementById("idBarCode").focus();
        }, 5000);
    {%endblock mounted%}

    {%block methods%}
        onSubmit:((BarCode) => {
            Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=barcodeScanner',{barcode:self.BarCode, code:'{{code}}'})
            .then(function(json){
                PublicSocket.emit('Send_Event','{{code}}','scanTicket', json.data.ticket)
            })
            self.BarCode = ''
        }),
    {%endblock methods%}
.