{%extends 'appwork/layout-without-navbar.html'%}
{%load static%}
{%load i18n%}

{%block theme%}
{%endblock theme%}

{%block content%}
    <form v-on:submit.prevent="onSubmit(BarCode)">
        <div class="form-group">
            <input type="text" class="form-control" v-model="BarCode" id="idBarCode" autofocus="autofocus">
        </div>
        <button type="submit" class="btn btn-default">{{code}}</button>
    </form>
{%endblock%}

{%block js%}
{%endblock js%}

<script>
    {%block constants%}
        const PublicSocket = io.connect('ws://50.18.229.242:8002',{'forceNew':true});
        var PrivateSocket = null
    {%endblock constants%}

    {%block data%}
        BarCode: '',
    {%endblock data%}

    {%block mounted%}
        PublicSocket.emit('room', '{{code}}');
        setInterval(function(){
            document.getElementById("idBarCode").focus();
        }, 5000);
    {%endblock mounted%}

    {%block methods%}
        onSubmit:((BarCode) => {
            Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=barcodeScanner',{barcode:self.BarCode, code:'{{code}}'})
            .then(function(json){
                PublicSocket.emit('Send_Event','{{code}}','scanTicket', json.data.ticket)
            })
            self.BarCode = ''
        }),
    {%endblock methods%}
</script>