div
    router-link(to="/order" v-if="includes(ActiveSellpoint.orders, {{request.user.id}})")
        a.footer-link.pt-3.ml-4(href='javascript:void(0)') 
            i.fas.fa-folder.pr-2
            | PEDIDOS
    router-link(to="/casher" v-if="includes(ActiveSellpoint.cashers, {{request.user.id}})")
        a.footer-link.pt-3.ml-4(href='javascript:void(0)')
            i.fas.fa-credit-card.pr-2
            | CAJERO
    router-link(to="/sellpoint" v-if="includes(ActiveSellpoint.vendors, {{request.user.id}})")
        a.footer-link.pt-3.ml-4(href='javascript:void(0)') 
            i.fas.fa-store.pr-2
            | PUNTO DE VENTA