div
    a.footer-link.pt-3.ml-4(href='javascript:void(0)') 
        i.fas.fa-folder.pr-2
        | PEDIDOS
    router-link(to="/casher")
        a.footer-link.pt-3.ml-4(href='javascript:void(0)')
            i.fas.fa-credit-card.pr-2
            | CAJERO
    router-link(to="/sellpoint")
        a.footer-link.pt-3.ml-4(href='javascript:void(0)') 
            i.fas.fa-store.pr-2
            | PUNTO DE VENTA