{% extends "generic/DetailView.html" %}
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block object_name%}{{object.sellpoint.name}} CORTE {{object.serial}} {%endblock object_name%}

{%block styles%}
    {{block.super}}
    <link href="{%static 'metronic/dist/demo5/assets/app/custom/invoices/invoice-v2.default.css'%}" rel="stylesheet" type="text/css" />
{%endblock styles%}

{%block content%}
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <div class="kt-invoice-2">
                            <div class="kt-invoice__wrapper">
                                <div class="kt-invoice__head">
                                    <div class="kt-invoice__container kt-invoice__container--centered">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="kt-invoice__logo kt-align-right">
                                                    <h1>CORTE {{object.serial}}</h1>
                                                </div>
                                                <div class="kt-invoice__items kt-align-right">
                                                    <div class="kt-invoice__item kt-align-right">
                                                        <div v-if="CutDetail">
                                                            <span class="kt-invoice__subtitle">FECHA DE CORTE</span>
                                                            <span class="kt-invoice__text"><strong>{{object.final_time|default:'Venta en curso'}}</strong></span>
                                                        </div>
                                                        <div v-if="CutDetail">
                                                            <span class="kt-invoice__subtitle">PRIMER TICKET</span>
                                                            <span class="kt-invoice__text"><strong>{{object.initial_time}}</strong></span>
                                                        </div>
                                                        <div v-if="CutDetail">
                                                            <span class="kt-invoice__subtitle">TOTAL TICKETS</span>
                                                            <span class="kt-invoice__text"><strong>{{object.getLenTickets}}</strong> clientes / <strong>${CutDetail.TotalDetail['all'][1]}</strong> </span>
                                                        </div>
                                                        <div v-if="CutDetail">
                                                            <span class="kt-invoice__subtitle">TOTAL FALTANTES</span>
                                                            <span class="kt-invoice__text"><strong>{{object.getLenFaltante}}</strong> clientes / <strong>${CutDetail.TotalDetail['all'][3]}</strong> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="kt-invoice__logo">
                                                    <h1>{{object.sellpoint.name}}</h1>
                                                </div>
                                                <span class="kt-invoice__desc">
                                                    {%if object.sellpoint.header_line_black_1%}<span>{{object.sellpoint.header_line_black_1}} </span></br>{%endif%}
                                                    {%if object.sellpoint.header_line_black_2%}<span>{{object.sellpoint.header_line_black_2}} </span></br>{%endif%}
                                                    {%if object.sellpoint.header_line_1%}<span>{{object.sellpoint.header_line_1}} </span></br>{%endif%} 
                                                    {%if object.sellpoint.header_line_2%}<span>{{object.sellpoint.header_line_2}} </span></br>{%endif%}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-invoice__body kt-invoice__body--centered" v-if="CutDetail">
                                    <div class="table-responsive" v-for="cuttypes in CutTypes">
                                        <h5 v-if="cuttypes=='all'">TOTAL</h5>
                                        <h5 v-else>${cuttypes}</h5>
                                        <table class="table">
                                            <thead>
												<tr>
													<th>PRODUCTO</th>
													<th>PRECIO</th>
													<th>CANTIDAD</th>
													<th>IVA</th>
													<th>IEPS</th>
													<th>TOTAL</th>
												</tr>
											</thead>
                                            <tbody>
                                                <template v-for="product in CutDetail.ProductsDetail[cuttypes]">
                                                    <tr>
                                                        <td>${product.productName}</td>
                                                        <td>${product.getPrice}</td>
                                                        <td>${product.quantity}</td>
                                                        <td>${product.getIvaMoney}</td>
                                                        <td>${product.getIepsMoney}</td>
                                                        <td><strong>${product.getTotalMoney}</strong></td>
                                                    </tr>
                                                    <tr v-for="offer in product.offers">
                                                        <td colspan="4" style="padding: 0"></td>
                                                        <td style="padding: 0"><small>${offer.quantity}</small></td>
                                                        <td style="padding: 0"><small>${offer.offerName}</small></td>
                                                    </tr>
                                                    <tr v-if="Object.keys(product.offers).length>0">
                                                        <td colspan="5" style="padding: 0"></td>
                                                        <td style="padding: 0"><small>$ ${product.offersTotal|formatPrice}</small></td>
                                                    </tr>
                                                </template>
                                                <tr>
                                                    <td colspan="4"></td>
                                                    <td>FALTANTE</td>
                                                    <td><strong>${CutDetail.TotalDetail[cuttypes][3]}</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"></td>
                                                    <td>TOTAL</td>
                                                    <td><strong>${CutDetail.TotalDetail[cuttypes][1]}</strong></td>
                                                </tr>
											</tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="kt-invoice__footer">
                                    <div class="kt-invoice__table  kt-invoice__table--centered table-responsive">
                                        <table class="table">
											<thead>
												<tr>
													<th class="kt--align-right"></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="kt-font-danger kt--align-right"><small>SUBTOTAL</small> <strong class="ml-2">{{object.getSubtotalMoney}}</strong></td>
												</tr>
												<tr>
													<td class="kt-font-danger kt--align-right"><small>IEPS</small> <strong class="ml-2">{{object.getIepsMoney}}</strong></td>
												</tr>
												<tr>
													<td class="kt-font-danger kt--align-right"><small>IVA</small> <strong class="ml-2">{{object.getIvaMoney}}</strong></td>
												</tr>
                                                <tr>
													<td class="kt-font-danger kt--align-right"><small>FALTANTE</small> <strong class="ml-2">{{object.getFaltanteMoney}}</strong></td>
												</tr>
												<tr>
													<td class="kt-font-danger kt--align-right">GRAN TOTAL <strong class="ml-2">{{object.getTotalMoney}}</strong></td>
												</tr>
                                                <tr>
													<td class="kt-font-danger kt--align-right"><small>+ FALTANTE</small> <strong class="ml-2">{{object.getTotalFaltanteMoney}}</strong></td>
												</tr>
											</tbody>
										</table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end:: Content -->
{%endblock content%}

<script>
{%block data%}
    {{block.super}}
    CutTypes: ['all',{%for ticketTypes in object.ticketTypes.all%}'{{ticketTypes}}',{%endfor%}],
    CutDetail: null,
{%endblock data%}

{%block mounted%}
    {{block.super}}
    Block(text="Calculando corte...");
    Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=getCut',{'cut':{{object.pk}}},errorDialog=false).then(function(json){
        self.CutDetail = json.data.cut
    }).catch((error) => {
        swal('Ooops!','{% trans "No hay conexión con el servidor, intente de nuevo mas tarde."%}','error')
    }).finally(() => {
        UnBlock();
    });
{%endblock mounted%}

{%block filters%}
    {{block.super}}
    formatPrice: ((value) => {
        let val = (value/1).toFixed(2)
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }),
{%endblock filters%}
</script>