{% extends "generic/DetailView.html" %}
{% load static %}
{% load i18n %}
{% load mirari_tags %}

{%block object_name%}{{object.sellpoint.name}}| CORTE {{object.serial}} {%endblock object_name%}

{%block content%}
	<!-- begin:: Content -->
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
		<div class="row">
			<div class="col-lg-12">
				<div class="kt-portlet">
					<div class="kt-portlet__body kt-portlet__body--fit">
						<div class="kt-invoice-2">
							<div class="kt-invoice__wrapper">
								<div class="kt-invoice__head">
									<div class="row">
										<div class="col-lg-6">
											<div class="kt-invoice__container kt-invoice__container--centered">
												<div class="kt-invoice__logo m--align-right">
													<h1>CORTE {{object.serial}}</h1>
												</div>
												<div class="kt-invoice__items m--align-right">
													<div class="kt-invoice__item m--align-right">
														<span class="kt-invoice__subtitle">FECHA DE CORTE</span>
														<span class="kt-invoice__text"><strong>{{object.final_time|default:'Venta en curso'}}</strong></span>
													</div>
													<div class="kt-invoice__item m--align-right">
														<span class="kt-invoice__subtitle">PRIMER TICKET</span>
														<span class="kt-invoice__text"><strong>{{object.initial_time}}</strong></span>
													</div>
													<div class="kt-invoice__item m--align-right">
														<span class="kt-invoice__subtitle">TOTAL TICKETS</span>
														<span class="kt-invoice__text"><strong>{{object.getLenTickets}}</strong> clientes / <strong>{{object.getTotalMoney}}</strong> </span>
													</div>
													<div class="kt-invoice__item m--align-right">
														<span class="kt-invoice__subtitle">TOTAL FALTANTES</span>
														<span class="kt-invoice__text"><strong>{{object.getLenFaltante}}</strong> clientes / <strong>{{object.getFaltanteMoney}}</strong> </span>
													</div>
													<div class="kt-invoice__item m--align-right">
														<span class="kt-invoice__subtitle">MAYOREOS APLICADOS</span>
														<span class="kt-invoice__text"><strong>{{object.getLenFaltante}}</strong> mayoreos aplicados / <strong>{{object.getFaltanteMoney}}</strong></span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="kt-invoice__container kt-invoice__container--centered">
												<div class="kt-invoice__logo">
													<h1>{{object.sellpoint.name}}</h1>
												</div>
												<span class="kt-invoice__desc">
													{%if object.sellpoint.header_line_black_1%}<span>{{object.sellpoint.header_line_black_1}} </span></br>{%endif%}
													{%if object.sellpoint.header_line_black_2%}<span>{{object.sellpoint.header_line_black_2}} </span></br>{%endif%}
													{%if object.sellpoint.header_line_1%}<span>{{object.sellpoint.header_line_1}} </span></br>{%endif%}
													{%if object.sellpoint.header_line_2%}<span>{{object.sellpoint.header_line_2}} </span></br>{%endif%}
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="kt-invoice__body kt-invoice__body--centered">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>PRODUCTO</th>
													<th>PRECIO</th>
													<th>CANTIDAD</th>
													<th>IVA</th>
													<th>IEPS</th>
													<th>TOTAL</th>
												</tr>
											</thead>
											<tbody>
												{%for product in object.getCutProducts%}
													<tr>
														<td>{{product.productName}}</td>
														<td>{{product.getPrice}}</td>
														<td>{{product.getQuantity}}</td>
														<td>{{product.getIvaMoney}}</td>
														<td>{{product.getIepsMoney}}</td>
														<td class="kt-font-danger"><strong>{{product.getTotalMoney}}</strong></td>
													</tr>
												{%endfor%}
											</tbody>
										</table>
									</div>
								</div>
								<div class="kt-invoice__footer">
									<div class="kt-invoice__table  kt-invoice__table--centered table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th class="m--align-right"></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="kt-font-danger m--align-right">SUBTOTAL <strong>{{object.getSubtotalMoney}}</strong></td>
												</tr>
												<tr>
													<td class="kt-font-danger m--align-right">IEPS <strong>{{object.getIepsMoney}}</strong></td>
												</tr>
												<tr>
													<td class="kt-font-danger m--align-right">IVA <strong>{{object.getIvaMoney}}</strong></td>
												</tr>
												<tr>
													<td class="kt-font-danger m--align-right">GRAN TOTAL <strong>{{object.getTotalMoney}}</strong></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:: Content -->
{%endblock content%}
		