.masonry-item {
    width: 145px;
    height: 130px;
    float: left;
    border-radius: 5px;
    border: 1px solid;
    border-color: #7b7b7b;
}
.w-30 {
    width: 30% !important;
}
.sidenav-vertical, .sidenav-vertical .sidenav-block, .sidenav-vertical .sidenav-inner>.sidenav-item, .sidenav-vertical .sidenav-inner>.sidenav-header {
    width: 9rem!important;
}
.print-botton{
    border-radius:100px;
}