{%extends 'appwork/layout-without-navbar.html'%}
{%load static%}
{%load i18n%}

{%block css%}
	<style>
        .masonry-item {
            width: 145px;
            height: 130px;
            float: left;
            border-radius: 5px;
            border: 1px solid;
            border-color: #7b7b7b;
        }
        .w-30 {
            width: 30% !important;
        }
        .sidenav-vertical, .sidenav-vertical .sidenav-block, .sidenav-vertical .sidenav-inner>.sidenav-item, .sidenav-vertical .sidenav-inner>.sidenav-header {
            width: 9rem!important;
        }
        .print-botton{
            border-radius:100px;
        }
    </style>
{%endblock%}

{%block content%}
    <div v-if="$route.path === '/sellpoint'">
        {%include 'Templete__sellpoint.pug'%}
    </div>
    <div v-else-if="$route.path === '/casher'">
        {%include 'Template__casher.pug'%}
    </div>
{%endblock%}



{%block js%}
    <script src="{%static 'appwork-html/vendor/libs/moment/moment.js'%}"></script>
{%endblock js%}




<script>
{%block vue%}
    const Home  = {
        template: ``
    }
    const router = new VueRouter({
        routes: [
            { path: '/SV/sv/', component: Home },
        ]
    })
{%endblock vue%}



{%block router%}router,{%endblock router%}



{%block data%}
    {{block.super}}
    sellpoints: null,
    activeSellpoint: {
        name: 'No Sellpoint',
    },
    menus: null,
    active_menu: {
        color: '#7b7b7b',
        id: 0,
    },
    productattributes: null,
    quantity: 'CANTIDAD',
    price: 'PRECIO',
    ticket: {
        //type: 'blank',
        products: [],
        key: null,
        date: null,
        time: null,
        //discount: 0,
    },
    tickets: [],
    public_socket: io('http://localhost:8080'),
    local_socket: '',
{%endblock data%}



{%block mounted%}
    {{block.super}}
    Block();
    Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=getStates').then(function(json){
        console.log(json.data)
        self.sellpoints = json.data.sellpoints
        self.activeSellpoint = self.sellpoints[0]
        //console.log(self.activeSellpoint)
        self.menus = json.data.menus
        self.productattributes = json.data.productattributes
        UnBlock();
    })
    //console.log(this.$route.path)
    self.public_socket.emit('room', '{{request.user.organization.code}}');
    self.public_socket.on('Recibe_PrintTicket', (data) => {
        self.tickets.unshift(data.ticket)
        //console.log(data)
    });
{%endblock mounted%}



{%block methods%}
    keyboard: ((value) => {
        if (self.quantity == 'CANTIDAD') self.quantity = ''
        if (value == '.'){
            if (self.quantity.indexOf(".") !=-1) return 0
        } 
        if (value == '<'){
            self.quantity = self.quantity.substring(0, self.quantity.length - 1)
            if (self.quantity.length == 0) self.quantity = 'CANTIDAD'
            return 0
        }
        self.quantity += value
    }),
    select_menu:((menu) => {self.active_menu = menu}),
    randomChars: function(length, type="aplha_numbers") { 
        text = ""
        aplha_numbers = "abcdefghijklmnopqrstuvwxyz0123456789";
        numbers = "0123456789";
        if (type=='letters_numbers') possible = letters_numbers
        else if (type=='aplha_numbers') possible = aplha_numbers
        else possible = numbers
        for (var i = 0; i < length; i++) text += possible.charAt(Math.floor(Math.random() * possible.length))
        return text
    },
    add_product: function(productattribute) {
        if (self.price == 'PRECIO') price = productattribute.price
        else price = self.price
        if (self.quantity == 'CANTIDAD') quantity = 1
        else quantity = parseInt(self.quantity)
        productLineExist = self.ticket.products.find(function(productLine) {
            return productLine.id == productattribute.id && productLine.price == productattribute.price;
        });
        if (!productLineExist){
            productLine = {
                alias: productattribute.alias,
                name: productattribute.product.name,
                id: productattribute.id,
                ieps: productattribute.ieps,
                iva: productattribute.iva,
                product: productattribute.product,
                sellpoint: productattribute.sellpoint,
                price: price,
                quantity: quantity
            }
            self.ticket.products.unshift(productLine)
        }
        else {
            productLineExist.quantity += quantity
        }
        self.quantity == 'CANTIDAD'
        self.price == 'PRECIO'
    },
    printTicket:(() => {
        //Si tiene productos
        self.ticket.key = self.randomChars(8, 'aplha_numbers')
        self.ticket.date = moment().format('L')
        self.ticket.time = moment().format('LTS')
        data = {user:{{request.user.id}},ticket:self.ticket,sellpoint:self.activeSellpoint,csrfmiddlewaretoken:'{{ csrf_token }}'}
        Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=printTicket', data).then((json) => {
            self.public_socket.emit('Send_PrintTicket', '{{request.user.organization.code}}', data)
            //console.log(json)
        }).catch((error) => {
            self.public_socket.emit('Send_PrintTicket', '{{request.user.organization.code}}', data)
            //console.log(error)
            //console.log('ok')
        });
    }),
    includes: ((object, element) => {
        if (!object) return false
        return object.includes(element)
    }),
{%endblock methods%}



{%block filters%}
    {{block.super}}
    first_name_menu: ((value) => {
        if (!value) return ''
        return value.toString().charAt(0).toUpperCase()
    }),
    last_name_menu: ((value) => {
        if (!value) return ''
        return value.toString().slice(1)
    }),
    formatprice: ((value) => {
        let val = (value/1).toFixed(2)
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }),
    ticketTotal: ((ticket) => {
        total = 0
        ticket.products.forEach(function(productLine){total+=(productLine.price*productLine.quantity)});
        return total
    }),
{%endblock filters%}
</script>