-load static
-load i18n

// Layout wrapper
.layout-wrapper.layout-1
    .layout-inner
        // Layout container
        .layout-container
            // Layout content
            .layout-content
                // Content
                .container-fluid.d-flex.align-items-stretch.flex-grow-1.p-0
                    .flex-shrink-1.flex-grow-1.px-1.py-1
                        table.table
                            tbody
                                tr(v-for="lineTicket in Tickets")
                                    td ${lineTicket.barcode|padStart13}
                                    td ${lineTicket.key}
                                    td ${lineTicket.date|FormatTDate}
                                    td $ ${lineTicket.total|formatPrice}
                    .flex-shrink-1.flex-grow-0.w-30.bg-light.px-1.py-1
                        .input-group.input-group-lg.mt-3
                            .input-group-prepend
                                span.input-group-text.ml-2
                                    i.fas.fa-barcode.pr-2
                            input.form-control(type='text' placeholder='INGRESE CODIGO DE TICKET')
                // Layout footer
                nav.layout-footer.footer.bg-footer-theme
                    .container-fluid.d-flex.flex-wrap.justify-content-between.text-center.container-p-x.pb-3
                        .pt-3
                            span.footer-text.font-weight-bolder.px-3.h4 ULTIMO COBRADO: 
                        include Component__footer_links.pug
    .layout-overlay.layout-sidenav-toggle


