-load static
-load i18n

// Layout wrapper
.layout-wrapper.layout-1
    .layout-inner
        // Layout container
        .layout-container
            // Layout sidenav
            #layout-sidenav.layout-sidenav.sidenav.sidenav-vertical.bg-sidenav-theme
                
            // Layout content
            .layout-content
                
    .layout-overlay.layout-sidenav-toggle